{{if ne .Author.Name ""}}
    {{if not .Author.RetrievedOn.IsZero}}
        {{template "partials/author-summary" dict "Lang" .Lang "Author" .Author "Session" .Session "ImageVersion" .ImageVersion "Version" .Version}}
    {{else}}
    <div hx-get="/authors/{{.Author.Slug}}/summary" hx-trigger="load" hx-target="this">
        <div class="card mb-3 bg-body-secondary placeholder-glow">
            <div class="row">
                <div class="card-body col-sm-6 col-md-6 col-lg-9">
                    <h1 class="card-title ms-3">{{.Author.Name}}</h1>
                    <p class="ms-3 mb-1"><span class="placeholder col-8"></span></p>
                    <p class="ms-3"><span class="placeholder col-6"></span></p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 p-3 d-flex align-items-center">
                    <div class="ratio ratio-1x1 w-100">
                        <span class="placeholder rounded-circle w-100"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{end}}
{{end}}

<div id="author-list-header" class="row mt-5 mb-2 pb-2 border-bottom d-flex">
    {{template "partials/author-count-and-sort" .}}
</div>

<div class="row">
    <div id="search-filters-sidebar-col" class="col-12 col-xl-3 mt-5 p-0">
        <div class="offcanvas-xl offcanvas-start search-filters-sidebar-sticky" tabindex="-1" id="author-search-filters-offcanvas" aria-labelledby="author-search-filters-offcanvas-label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="author-search-filters-offcanvas-label">{{t .Lang "Filters"}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#author-search-filters-offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form id="search-filters-form" action="{{.URLPath}}" method="get" role="search">
                    <div class="border rounded-4">
                        {{template "partials/document-search-filters" dict "Lang" .Lang "FilterIdPrefix" "sidebar" "SearchFields" .DocumentSearchFields "Version" .Version "AvailableLanguages" .AvailableLanguages "HasReflowableDocs" .HasReflowableDocs "HasFixedDocs" .HasFixedDocs "HideSearch" true "DocumentsByAuthor" .Author.Name "DocumentsSearchPage" true}}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-9">
        {{template "partials/list-placeholder" .}}

        <div id="list" hx-get="{{.URLPath}}" hx-include="#search-filters-form, #sort-by" hx-select="#list-fragment-body" hx-trigger="update from:body" hx-indicator="#placeholder-indicator" class="list-group list-group-flush">
            {{ template "partials/docs-list" . }}
        </div>
    </div>
</div>

{{template "partials/delete-modal" dict "Lang" .Lang "Action" "/documents" "ModalHeader" "Delete document" "ModalBody" "Are you sure you want to delete this document?" "ModalErrorMessage" "There was an error deleting the document"}}

<script type="module" src="/js/delete.js{{versionParam .Version}}"></script>
<script type="module" src="/js/highlight.js{{versionParam .Version}}"></script>
<script type="module" src="/js/complete.js{{versionParam .Version}}"></script>
<script type="module" src="/js/cover.js{{versionParam .Version}}"></script>
<script type="module" src="/js/datetime.js{{versionParam .Version}}"></script>
<script type="module" src="/js/search-filters-sidebar-pin.js{{versionParam .Version}}"></script>
