<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Sergio Vera">
    <title>{{.Title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/display.css" rel="stylesheet">

    <!-- Favicons -->

    <meta name="theme-color" content="#7952b3">

</head>

<body class="text-center">
    <header>
        <nav class="navbar navbar-light bg-light">
            <div class="container">
                <span class="navbar-brand mb-0 h1">Coreander</span>
            </div>
        </nav>
    </header>
    {{embed}}

</body>

</html>