html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
    color: #000;
}

main {
    width: 100%;
    padding: 15px;
    margin: auto;
}

main .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    /*font-size: 16px;*/
    border: solid 1px #000;
}

main .form-control:focus {
    z-index: 2;
}

.input-group>.form-control {
    width: 100%;
}

.list-group-item {
    border: solid 1px #000;
}

.list-group-item-action {
    color: #000;
}

.btn-primary,
.btn-secondary {
    background-color: #000;
}