<script type="text/javascript">
    const deleteModal = document.getElementById('deleteModal');

    deleteModal.addEventListener('show.bs.modal', event => {
        const link = event.relatedTarget;
        const slug = link.getAttribute('data-bs-slug');
        const modalInputSlug = deleteModal.querySelector('.slug');

        modalInputSlug.value = slug;
    })

    deleteModal.addEventListener('hidden.bs.modal', event => {
        let message = document.getElementById('delete-document-message');
        message.classList.add("visually-hidden");
    })

    function remove() {
        event.preventDefault();
        form = document.getElementById("delete-form");
        fetch('/delete', {
            method: "POST",
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({
                'slug': form.elements['slug'].value,        
            })
        })
        .then((response) => {
            if (response.ok) {
                location.reload();
            } else {
                message = document.getElementById("delete-document-message")
                message.classList.remove("visually-hidden");
                message.innerHTML = '{{t .Lang "There was an error deleting the document"}}';
            }
        })
        .catch(function (error) {
            // Catch errors
            console.log(error);
        });
    }
</script>
