<div class="container">
    <div class="py-5">
        <h1 class="text-center">{{t .Lang "%s highlights" .Session.Name}}</h1>
        {{if gt .Total 0}}
        <p class="text-center">{{t .Lang "%d highlighted documents" .Total }}</p>
        {{else}}
        <p class="text-center">{{t .Lang "No highlighted documents" }}</p>
        {{end}}
    </div>

    {{ template "partials/docs-list" dict "Lang" .Lang "EmailSendingConfigured"
    .EmailSendingConfigured "Session" .Session "EmailFrom" .EmailFrom "Results" .Results "WordsPerMinute" .WordsPerMinute}}

    {{ $length := len .Paginator.Pages }} {{ if gt $length 1 }}
    {{template "partials/pagination" .}}
    {{end}}

</div>

{{template "partials/delete-modal" .}}

