<main>
    <div class="container">
        <section class="pb-5">
            {{template "partials/searchbox" .}}
            <p>{{t .Lang "availability" .Count}}</p>
        </section>
        <section class="pt-5">
            <h2 class="mb-3">{{t .Lang "search_tips"}}</h2>
            <p>{{t .Lang "author_tip" `<span class="font-monospace">Author:</span>`}}</p>
            <p>{{t .Lang "title_tip" `<span class="font-monospace">Title:</span>`}}</p>
            <p>{{t .Lang "series_tip" `<span class="font-monospace">Series:</span>`}}</p>
            <p>{{t .Lang "double_quotes_tip"}}</p>
        </section>
    </div>
</main>
