<main>
    <div class="container">
        <section class="pb-5">
            {{template "partials/searchbox" .}}
            <p>{{t .Lang "%d documents available" .Count}}</p>
        </section>
        <section class="pt-5">
            <h2 class="mb-3">{{t .Lang "Search tips"}}</h2>
            <p>{{t .Lang "Use %s prefix in search box to search by author only" `<span class="font-monospace">Author:</span>`}}</p>
            <p>{{t .Lang "Use %s prefix in search box to search by title only" `<span class="font-monospace">Title:</span>`}}</p>
            <p>{{t .Lang "Use %s prefix in search box to search by series only" `<span class="font-monospace">Series:</span>`}}</p>
            <p>{{t .Lang "Enclose your search terms in double quotes to require all those terms and with the same order"}}</p>
        </section>
    </div>
</main>
