<section class="pb-5 text-center">
    <img src="/images/coreander-header.png" class="w-50 mt-5 color-invertible"/>
    {{template "partials/searchbox" .}}
</section>

{{if and (.Session) (ne .Session.Name "") (gt (len .Reading) 0)}}
<section class="row pt-5" id="in-progress-docs">
    {{template "partials/docs-list-horizontal" dict "Title" "Resume reading" "Lang" .Lang "EmailSendingConfigured" .EmailSendingConfigured "Session" .Session "EmailFrom" .EmailFrom "Docs" .Reading}}
</section>
{{end}}


{{if gt (len .LatestDocs) 0}}
<section class="row pt-5" id="latest-docs">
    {{template "partials/docs-list-horizontal" dict "Title" "Latest additions" "Lang" .Lang "EmailSendingConfigured" .EmailSendingConfigured "Session" .Session "EmailFrom" .EmailFrom "Docs" .LatestDocs}}
</section>
{{end}}

{{if and (.Session) (ne .Session.Name "")}}
    <section class="row pt-5" id="latest-highlights" hx-get="/highlights?view=latest&amount={{.HighlightsAmount}}" hx-trigger="load, highlight from:body, dehighlight from:body">
    </section>
{{end}}

<script type="module" src="/js/highlight.js"></script>
<script type="module" src="/js/cover.js"></script>
<script type="module" src="/js/send-email.js"></script>
