<!doctype html>
<html lang="{{.Lang}}" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Sergio Vera">
    <title>{{t .Lang .Title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/display.css" rel="stylesheet">

    <!-- Favicons -->

    <meta name="theme-color" content="#000">

</head>

<body class="text-center d-flex flex-column h-100">
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <div class="container">
                <span class="navbar-brand mb-0 h1">Coreander</span>
                <nav class="my-2 my-md-0">
                    {{if eq .Lang "es"}}<span>Es</span>{{else}}<a class="p-2 text-dark" href="/es">Es</a>{{end}} {{if eq .Lang "en"}}<span>En</span>{{else}}<a class="p-2 text-dark" href="/en">En</a>{{end}}
                </nav>
            </div>
        </nav>
    </header>
    {{embed}}

    <footer class="footer mt-auto pb-3">
        <div class="container">
            <span class="text-muted"><small>{{t .Lang "footer"}} - {{.Version}}</small></span>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>

</html>
