<!doctype html>
<html lang="{{.Lang}}" class="h-100" data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Sergio Vera">
    <title>{{if .Title}}{{t .Lang .Title}} | {{end}}Coreander</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css{{versionParam .Version}}" rel="stylesheet">
    <link href="/css/display.css{{versionParam .Version}}" rel="stylesheet">
    <!-- Favicons -->
    <meta name="theme-color" content="#000">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png{{versionParam .Version}}">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png{{versionParam .Version}}">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png{{versionParam .Version}}">
    <link rel="manifest" href="/images/site.webmanifest{{versionParam .Version}}">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg{{versionParam .Version}}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <script src="/js/color-mode-toggler.js{{versionParam .Version}}"></script>
</head>

<body class="d-flex flex-column h-100" hx-ext="response-targets">
    <header>
        {{template "partials/navbar" .}}
    </header>
    <main class="mt-5" data-unexpected-server-error='{{t .Lang "Unexpected server error"}}'>
        {{template "partials/main" dict "Lang" .Lang "RemainingIndexingTime" .RemainingIndexingTime "IndexingProgressPercentage" .IndexingProgressPercentage "Error" .Error "Warning" .Warning "Success" .Success "Embed" .Embed}}
    </main>
    <footer class="footer mt-auto py-5">
        <div class="container">
            <span class="text-muted"><small>{{t .Lang "Made with words by Sergio Vera"}} - <a
                        href="https://github.com/svera/coreander/releases" target="_blank"
                        rel="noopener noreferrer">{{.Version}}</a></small></span>
        </div>
    </footer>
    <script src="/js/bootstrap.bundle.min.js{{versionParam .Version}}"></script>
    <script src="/js/htmx.min.js{{versionParam .Version}}"></script>
    <script type="module" src="/js/feedback.js{{versionParam .Version}}"></script>
    <link rel="preload" href="/css/bootstrap-icons.min.css{{versionParam .Version}}" as="style" onload="this.onload=null;this.rel='stylesheet'">

    <noscript><link rel="stylesheet" href="/css/bootstrap-icons.min.css{{versionParam .Version}}"></noscript>
</body>

</html>
