<!doctype html>
<html lang="{{.Lang}}" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{.Description}}">
    <meta name="author" content="{{.Author}}">
    <title>{{t .Lang .Title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Favicons -->
    <script src="/js/pdf.min.js"></script>

    <meta name="theme-color" content="#000">
</head>

<body class="text-center d-flex flex-column h-100">
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <div class="container justify-content-center">
                <ul class="nav">
                    <li class="nav-item">
                        <a id="prev" class="btn btn-dark disabled" aria-current="page" href="#prev">«</a>
                    </li>
                    <li class="nav-item mx-3">
                        <span id="page_num"></span> / <span id="page_count"></span>
                    </li>
                    <li class="nav-item">
                        <a id="next" class="btn btn-dark" aria-current="page" href="#next">»</a>
                    </li>
                </ul>
            </div>    
        </nav>
    </header>

    <main class="mt-5">
        <div class="container">
            <canvas id="pdf-canvas"></canvas>
            <div id="loading" class="mt-5">
                <span class="spinner-border" role="status" aria-hidden="true"></span>
            </div>
        </div>
    </main>
    
    <script id="script">
        var url = '/download/{{.Slug}}';

        // Loaded via <script> tag, create shortcut to access PDF.js exports.
        var pdfjsLib = window['pdfjs-dist/build/pdf'];

        // The workerSrc property shall be specified.
        pdfjsLib.GlobalWorkerOptions.workerSrc = '/js/pdf.worker.min.js';

        var pdfDoc = null,
            pageNum = 1,
            pageRendering = false,
            pageNumPending = null,
            scale = 1.5;

        /**
         * Get page info from document, resize canvas accordingly, and render page.
         * @param num Page number.
         */
        function renderPage(num) {
            pageRendering = true;
            // Using promise to fetch the page
            pdfDoc.getPage(num).then(function(page) {
                var viewport = page.getViewport({ scale: scale, });
                // Support HiDPI-screens.
                var outputScale = window.devicePixelRatio || 1;

                var canvas = document.getElementById('pdf-canvas');
                var context = canvas.getContext('2d');

                canvas.width = Math.floor(viewport.width * outputScale);
                canvas.height = Math.floor(viewport.height * outputScale);
                canvas.style.width = Math.floor(viewport.width) + "px";
                canvas.style.height =  Math.floor(viewport.height) + "px";

                var transform = outputScale !== 1
                ? [outputScale, 0, 0, outputScale, 0, 0]
                : null;

                // Render PDF page into canvas context
                var renderContext = {
                    canvasContext: context,
                    transform: transform,
                    viewport: viewport
                };
                var renderTask = page.render(renderContext);            

                // Wait for rendering to finish
                renderTask.promise.then(function() {
                    pageRendering = false;
                    if (pageNumPending !== null) {
                        // New page rendering is pending
                        renderPage(pageNumPending);
                        pageNumPending = null;
                    }
                    loading = document.getElementById("loading");

                    if (loading) {
                        loading.remove();
                    }
                });
            });

            var prev = document.getElementById("prev");
            var next = document.getElementById("next");
            if (num <= 1) {
                prev.className = "btn btn-dark disabled";
            } else {
                prev.className = "btn btn-dark";
            }
            if (num >= pdfDoc.numPages) {
                next.className = "btn btn-dark disabled";
            } else {
                next.className = "btn btn-dark";
            }

            // Update page counters
            document.getElementById('page_num').textContent = num;
        }

        /**
         * If another page rendering in progress, waits until the rendering is
         * finised. Otherwise, executes rendering immediately.
         */
        function queueRenderPage(num) {
            if (pageRendering) {
                pageNumPending = num;
            } else {
                renderPage(num);
            }
        }

        /**
         * Displays previous page.
         */
        function onPrevPage(e) {
            if (pageNum <= 1) {
                return;
            }
            pageNum--;
            queueRenderPage(pageNum);
            e.preventDefault();
        }
        document.getElementById('prev').addEventListener('click', onPrevPage);

        /**
         * Displays next page.
         */
        function onNextPage(e) {
            if (pageNum >= pdfDoc.numPages) {
                return;
            }
            pageNum++;
            queueRenderPage(pageNum);
            e.preventDefault();
        }
        document.getElementById('next').addEventListener('click', onNextPage);

        /**
         * Asynchronously downloads PDF.
         */
        pdfjsLib.getDocument(url).promise.then(function(pdfDoc_) {
            pdfDoc = pdfDoc_;
            document.getElementById('page_count').textContent = pdfDoc.numPages;

            // Initial/first page rendering
            renderPage(pageNum);
        });
    </script>
</body>

</html>
