<h1 class="mt-5">{{t .Lang "Collection \"%s\"" .Title}}</h1>
{{template "partials/list-placeholder" .}}

<div class="row mt-5 mb-2 pb-2 border-bottom d-flex">
    {{if eq .Results.TotalHits 0}}
    <div class="col-12 align-content-end">
        <p class="text-center">{{t .Lang "No documents found"}}</p>
    </div>
    {{else}}
    <div class="col-6 col-md-8 align-content-end">
        <p class="text-start">{{t .Lang "%d documents found" .Results.TotalHits}}</p>
    </div>
    <div class="col-6 col-md-4 text-end">
        {{template "partials/sort" dict "SortURL" .SortURL "SortBy" .SortBy "Lang" .Lang "AdditionalSortOptions" .AdditionalSortOptions}}
    </div>
    {{end}}
</div>

<div id="list" hx-get="{{.URL}}" hx-trigger="update from:body" hx-indicator="#placeholder-indicator" class="list-group list-group-flush">
    {{ template "partials/docs-list" . }}
</div>

{{template "partials/delete-modal" dict "Lang" .Lang "Action" "/documents" "ModalHeader" "Delete document" "ModalBody" "Are you sure you want to delete this document?" "ModalErrorMessage" "There was an error deleting the document"}}

<script type="module" src="/js/delete.js{{versionParam .Version}}"></script>
<script type="module" src="/js/highlight.js{{versionParam .Version}}"></script>
<script type="module" src="/js/complete.js{{versionParam .Version}}"></script>
<script type="module" src="/js/cover.js{{versionParam .Version}}"></script>
<script type="module" src="/js/datetime.js{{versionParam .Version}}"></script>
