{{if .Message}}
<div class="row mt-5">
    <div class="alert alert-success" role="alert">
        {{t .Lang .Message}}
    </div>
</div>
{{end}}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class='nav-link {{if ne .ActiveTab "password"}}active{{end}}' id="home-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
            type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">{{t .Lang "Profile"}}</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class='nav-link {{if eq .ActiveTab "password"}}active{{end}}' id="profile-tab" data-bs-toggle="tab" data-bs-target="#password-tab-pane"
            type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">{{t .Lang "Change password"}}</button>
    </li>
</ul>
<div class="tab-content ">
    <div class='tab-pane fade p-3 {{if ne .ActiveTab "password"}}show active{{end}}' id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
        tabindex="0">
        <form method="post" action="/{{.Lang}}/users/{{.User.Username}}/edit">
            <div class="mb-3">
                <label for="name" class="form-label">{{t .Lang "Name"}}</label>
                <input type="text" name="name" class='form-control {{if ne (index .Errors "name") ""}}is-invalid{{end}}' id="name" required="required" value="{{.User.Name}}" maxlength="50">
                {{if ne (index .Errors "name") ""}}
                <div class="invalid-feedback">
                    {{t .Lang .Errors.name}}
                </div>
                {{end}}
            </div>
            <div class="mb-3">
                <label for="send-to-email" class="form-label">{{t .Lang "Default send to email address"}}</label>
                <input type="email" name="send-to-email" class='form-control {{if ne (index .Errors "sendtoemail") ""}}is-invalid{{end}}' id="send-to-email" value="{{.User.SendToEmail}}" maxlength="100">
                {{if ne (index .Errors "sendtoemail") ""}}
                <div class="invalid-feedback">
                    {{t .Lang .Errors.sendtoemail}}
                </div>
                {{end}}
            </div>
            <div class="mb-3">
                <label for="words-per-minute" class="form-label">{{t .Lang "Reading speed (in words per minute)"}}</label>
                <input type="number" name="words-per-minute" class='form-control {{if ne (index .Errors "wordsperminute") ""}}is-invalid{{end}}' id="words-per-minute" value="{{.User.WordsPerMinute}}" min="1" max="999" required="required">
                {{if ne (index .Errors "wordsperminute") ""}}
                <div class="invalid-feedback">
                    {{t .Lang .Errors.wordsperminute}}
                </div>
                {{end}}
            </div>                
            <button type="submit" class="btn btn-primary">{{t .Lang "Update"}}</button>
        </form>
    </div>
    <div class='tab-pane fade p-3 {{if eq .ActiveTab "password"}}show active{{end}}' id="password-tab-pane" role="tabpanel" aria-labelledby="password-tab"
        tabindex="0">
        <form method="post" action="/{{.Lang}}/users/{{.User.Uuid}}/edit">
            {{if eq .Session.Uuid .User.Uuid}}
            <div class="mb-3">
                <label for="old-password" class="form-label">{{t .Lang "Current password"}}</label>
                <input type="password" name="old-password" class='form-control {{if ne (index .Errors "oldpassword") ""}}is-invalid{{end}}' id="old-password"
                    required="required" minlength="{{.MinPasswordLength}}" maxlength="50">
                {{if ne (index .Errors "oldpassword") ""}}
                <div class="invalid-feedback">
                    {{t .Lang .Errors.oldpassword}}
                </div>
                {{end}}    
            </div>
            {{end}}
            <div class="mb-3">
                <label for="password" class="form-label">{{t .Lang "Password"}}</label>
                <input type="password" name="password" class='form-control {{if ne (index .Errors "password") ""}}is-invalid{{end}}' id="password" required="required"
                    minlength="{{.MinPasswordLength}}" maxlength="50">
                {{if ne (index .Errors "password") ""}}
                <div class="invalid-feedback">
                    {{t .Lang .Errors.password .MinPasswordLength}}
                </div>
                {{end}}    
            </div>
            <div class="mb-3">
                <label for="confirm-password" class="form-label">{{t .Lang "Confirm password"}}</label>
                <input type="password" name="confirm-password" class='form-control {{if ne (index .Errors "confirmpassword") ""}}is-invalid{{end}}' id="confirm-password"
                    required="required" minlength="{{.MinPasswordLength}}" maxlength="50">
                {{if ne (index .Errors "confirmpassword") ""}}
                <div class="invalid-feedback">
                    {{t .Lang .Errors.confirmpassword}}
                </div>
                {{end}}    
            </div>

            <input type="hidden" name="password-tab" value="true">
            <button type="submit" class="btn btn-primary">{{t .Lang "Update"}}</button>
        </form>
    </div>
</div>
