<main>
    {{$lang := .Lang}}
    <div class="container mt-5 text-start">
        <div class="row">
            <div class="col">
                <h2>{{t $lang "Users"}}</h2>
            </div>
            <div class="col text-end">
                <a href="/{{$lang}}/users/new" class="btn btn-primary">{{t $lang "Add new user"}}</a>
            </div>
        </div>
        <div class="list-group">
            {{range $i, $user := .Users}}
            <div class="list-group-item">
                <a href="/{{$lang}}/users/edit/{{$user.Uuid}}">{{$user.Username}}</a>
            </div>
            {{end}}
        </div>
    </div>
</main>