{{$lang := .Lang}}
{{$admins := .Admins}}
<div class="container mt-5">
    <div class="row mb-3">
        <div class="col">
            <h2>{{t $lang "Users"}}</h2>
        </div>
        <div class="col text-end">
            <a href="/{{$lang}}/users/new" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
                {{t $lang "Add user"}}
            </a>
        </div>
    </div>
    <div class="list-group">
        {{range $i, $user := .Users}}
        <div class="list-group-item d-flex justify-content-between align-items-start">
            <div>
                <a href="/{{$lang}}/users/{{$user.Uuid}}">{{$user.Name}}</a>
                ({{$user.Email}})

                {{if eq $user.Role 2}}
                <span class="badge rounded-pill text-bg-secondary">Admin</span>
                {{end}}
            </div>
            {{ if not (and (eq $admins 1) (eq $user.Role 2)) }}
            <a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal" data-uuid="{{$user.Uuid}}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                </svg>
            </a>
            {{end}}
        </div>
        {{end}}
    </div>

    {{ $length := len .Paginator.Pages }} {{ if gt $length 1 }}
    {{template "partials/pagination" .}}
    {{end}}
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">{{t $lang "Delete user"}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger visually-hidden" role="alert" id="delete-user-message"></div>
                {{t $lang "Are you sure you want to delete this user?"}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{t $lang
                    "Cancel"}}</button>
                <a href="" class="btn btn-primary" onclick="remove(this)">{{t $lang "Delete"}}</a>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    const deleteModal = document.getElementById("deleteModal")
    deleteModal.addEventListener("show.bs.modal", event => {
        const link = event.relatedTarget
        const uuid = link.getAttribute("data-uuid")
        const submit = deleteModal.querySelector(".btn-primary");

        submit.setAttribute("href", "/{{$lang}}/users/" + uuid);
    })

    deleteModal.addEventListener('hidden.bs.modal', event => {
        let message = document.getElementById('delete-user-message');
        message.classList.add("visually-hidden");
    })

    function remove(el) {
        event.preventDefault();
        fetch(el.getAttribute("href"), {
            method: "DELETE"
        })
        .then((response) => {
            if (response.ok) {
                location.reload();
            } else {
                message = document.getElementById("delete-user-message")
                message.classList.remove("visually-hidden");
                message.innerHTML = '{{t .Lang "There was an error deleting the user"}}';
            }
        })
        .catch(function (error) {
            // Catch errors
            console.log(error);
        });
    }
</script>
