<div class="container mt-5 text-start">
    <form method="post" action="/{{.Lang}}/users/new" autocomplete="off">
        <div class="mb-3">
            <label for="name" class="form-label">{{t .Lang "Name"}}</label>
            <input type="text" name="name" class='form-control {{if ne (index .Errors "name") ""}}is-invalid{{end}}' id="name" required="required" value="{{.User.Name}}" maxlength="20">
            {{if ne (index .Errors "name") ""}}
            <div class="invalid-feedback">
                {{t .Lang .Errors.name}}
            </div>
            {{end}}
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">{{t .Lang "Email"}}</label>
            <input type="email" name="email" class='form-control {{if ne (index .Errors "email") ""}}is-invalid{{end}}' id="email" required="required" value="{{.User.Email}}">
            {{if ne (index .Errors "email") ""}}
            <div class="invalid-feedback">
                {{t .Lang .Errors.email}}
            </div>
            {{end}}
        </div>        
        <div class="mb-3">
            <label for="send-to-email" class="form-label">{{t .Lang "Default send to email address"}}</label>
            <input type="email" name="send-to-email" class='form-control {{if ne (index .Errors "sendtoemail") ""}}is-invalid{{end}}' id="send-to-email" value="{{.User.SendToEmail}}">
            {{if ne (index .Errors "sendtoemail") ""}}
            <div class="invalid-feedback">
                {{t .Lang .Errors.sendtoemail}}
            </div>
            {{end}}
        </div>
        <div class="mb-3">
            <label for="words-per-minute" class="form-label">{{t .Lang "Reading speed (in words per minute)"}}</label>
            <input type="number" name="words-per-minute" class='form-control {{if ne (index .Errors "wordsperminute") ""}}is-invalid{{end}}' id="words-per-minute" value="{{.User.WordsPerMinute}}" min="1" max="999" required="required">
            {{if ne (index .Errors "wordsperminute") ""}}
            <div class="invalid-feedback">
                {{t .Lang .Errors.wordsperminute}}
            </div>
            {{end}}
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">{{t .Lang "Password"}}</label>
            <input type="password" name="password" class='form-control {{if ne (index .Errors "password") ""}}is-invalid{{end}}' id="password" required="required"
                minlength="{{.MinPasswordLength}}">
            {{if ne (index .Errors "password") ""}}
            <div class="invalid-feedback">
                {{t .Lang .Errors.password}}
            </div>
            {{end}}    
        </div>
        <div class="mb-3">
            <label for="confirm-password" class="form-label">{{t .Lang "Confirm password"}}</label>
            <input type="password" name="confirm-password" class='form-control {{if ne (index .Errors "confirmpassword") ""}}is-invalid{{end}}' id="confirm-password"
                required="required" minlength="{{.MinPasswordLength}}">
            {{if ne (index .Errors "confirmpassword") ""}}
            <div class="invalid-feedback">
                {{t .Lang .Errors.confirmpassword}}
            </div>
            {{end}}    
        </div>
        <div class="mb-3">
            <label for="role" class="form-label">{{t .Lang "Role"}}</label>
            <select name="role" class="form-control" id='form-control {{if ne (index .Errors "role") ""}}is-invalid{{end}}'>
                <option value="1">{{t .Lang "Regular"}}</option>
                <option value="2" {{if eq .User.Role 2}}selected="selected"{{end}}>{{t .Lang "Administrator"}}</option>
            </select>
            {{if ne (index .Errors "role") ""}}
            <div class="invalid-feedback">
                {{t .Lang .Errors.role}}
            </div>
            {{end}}    
        </div>

        <button type="submit" class="btn btn-primary">{{t .Lang "Create"}}</button>
    </form>
</div>