{{$lang := .Lang}}
{{$result := .Document}}
{{$document := $result.Document}}
{{$session := .Session}}

<div class="row mt-5">
    <div class="col-12">
        {{ if ne $document.Series "" }} {{$seriesTitle := t $lang "Search for more titles belonging to %s" $document.Series}}
            <p class="text-start text-muted text-uppercase mb-1">{{$document.Series}}{{ if ne $document.SeriesIndex 0.0 }} {{$document.SeriesIndex}}{{end}}</p>
        {{ end }}
        <header>
            <h1 class="text-start">
                {{$document.Title}}
            </h1>

            {{if $document.Authors}}
                <h2>
                    {{join $document.Authors ", "}}
                </h2>
            {{else}}
                <h2>{{t $lang "Unknown author"}}</h2>
            {{end}}
        </header>
    </div>
    <div class="col-12 col-md-4 mt-3 pe-3">
        <div class="mb-3">
            {{template "partials/cover" dict "Lang" .Lang "Document" $document "Highlight" $result.Highlight "Session" .Session "DisableCoverMainLink" true "Version" .Version}}
        </div>
        {{template "partials/actions" dict "Lang" .Lang "Document" $document "Session" .Session "FQDN" .fqdn "Version" .Version "EmailSendingConfigured" .EmailSendingConfigured "DefaultAction" .DefaultAction "CanShare" .CanShare "PreferredEpub" .PreferredEpub "EmailFrom" .EmailFrom "ShareMaxRecipients" .ShareMaxRecipients "ShareCommentMaxSize" .ShareCommentMaxSize "ButtonSize" "btn-lg" "ButtonStyle" "btn-primary"}}

        <div id="document-metadata-{{$document.Slug}}">
            {{template "partials/document-metadata" dict "Lang" $lang "Document" $result "Session" $session "WordsPerMinute" .WordsPerMinute}}
        </div>


        {{ if $document.Subjects }}
        <ul class="list-inline">
            {{range $i, $subject := $document.Subjects}}
            {{$subjectTitle := t $lang "Search for more titles in %s" $subject}}
            <li class="list-inline-item"><a class="btn btn-secondary btn-sm mb-1 mr-1" href="/documents?subjects={{urlquery $subject}}"
                title={{$subjectTitle}}>{{$subject}}</a></li>
            {{end}}
        </ul>
        {{ end }}
    </div>
    <div class="col-12 col-md-8 ps-3">
        <div class="row">
            <div class="col-12 text-start">
                {{if $document.Description}}
                <div class="mb-1 mt-3 lead">{{$document.Description}}</div>
                {{else}}
                <div class="mb-1"><p><i>{{t $lang "No description available"}}</i></p></div>
                {{end}}
            </div>
        </div>


        {{if and (gt (len $document.Authors) 0) (le (len $document.Authors) 2) (ne (index $document.Authors 0) "")}}
            <hr>
            {{range $i, $author := $document.Authors}}
                <div class="row" hx-get="/authors/{{slugify $author}}/summary?style=clear" hx-trigger="load" hx-target="this">
                </div>
            {{end}}
        {{end}}

        {{ $length := len .SameSeries }} {{ if gt $length 0 }}
        <section class="row mt-5">
            <div class="col-9">
                <h3>{{t $lang "Other titles in collection \"%s\"" $document.Series}}</h3>
            </div>
            <div class="col-3 text-end">
                <a  href="/series/{{$document.SeriesSlug}}">
                        {{t $lang "See all" }}</a>
            </div>

            <div class="row pe-0 align-items-end">
                {{range $i, $result := .SameSeries}}
                    <div class="col-6 col-lg-3 pe-0 mt-3">
                        {{template "partials/cover" dict "Lang" $lang "Document" $result.Document "Highlight" $result.Highlight "Session" $session "Version" $.Version}}
                    </div>
                {{end}}
            </div>
        </section>
        {{end}}

        {{ $length := len .SameAuthors }} {{ if gt $length 0 }}
        <section class="row mt-5">
            <div class="col-9">
                <h3>
                    {{t $lang "Also by"}}
                    {{join $document.Authors ", "}}
                </h3>
            </div>
            <div class="col-3 text-end">
                {{if gt (len $document.Authors) 1}}
                <a  href='/documents?search=AuthorsSlugs&colon;{{join $document.AuthorsSlugs ","}}'>
                        {{t $lang "See all" }}</a>
                {{else}}
                <a  href='/authors/{{index $document.AuthorsSlugs 0}}'>
                    {{t $lang "See all" }}</a>
                {{end}}
            </div>

            <div class="row pe-0 align-items-end">
                {{range $i, $result := .SameAuthors}}
                <div class="col-6 col-lg-3 pe-0 mt-3">
                    {{template "partials/cover" dict "Lang" $lang "Document" $result.Document "Highlight" $result.Highlight "Session" $session "Version" $.Version}}
                </div>
                {{end}}
            </div>
        </section>
        {{end}}

        {{ $length := len .SameSubjects }} {{ if gt $length 0 }}
        <section class="row mt-5">
            <div class="col-9">
                <h3>{{t $lang "With similar subjects"}}</h3>
            </div>
            <div class="col-3 text-end">
                <a  href='/documents?subjects={{range $i, $s := $document.Subjects}}{{if $i}},{{end}}{{urlquery $s}}{{end}}'>
                        {{t $lang "See all" }}</a>
            </div>

            <div class="row pe-0 align-items-end">
                {{range $i, $result := .SameSubjects}}
                <div class="col-6 col-lg-3 pe-0 mt-3">
                    {{template "partials/cover" dict "Lang" $lang "Document" $result.Document "Highlight" $result.Highlight "Session" $session "Version" $.Version}}
                </div>
                {{end}}
            </div>
        </section>
        {{end}}
    </div>
</div>

<script type="module" src="/js/send-email.js{{versionParam .Version}}"></script>
<script type="module" src="/js/highlight.js{{versionParam .Version}}"></script>
<script type="module" src="/js/complete.js{{versionParam .Version}}"></script>
<script type="module" src="/js/cover.js{{versionParam .Version}}"></script>
<script type="module" src="/js/datetime.js{{versionParam .Version}}"></script>
