{{$lang := .Lang}}
{{$emailSendingConfigured := .EmailSendingConfigured}}
{{$session := .Session}}
{{$emailFrom := .EmailFrom}}
{{$document := .Document}}

<div class="row mt-5">
    <div class="col-12">
        {{ if ne .Document.Series "" }} {{$seriesTitle := t $lang "Search for more titles belonging to %s" .Document.Series}}
            <p class="text-start text-muted text-uppercase mb-1">{{.Document.Series}}{{ if ne .Document.SeriesIndex 0.0 }} {{.Document.SeriesIndex}}{{end}}</p>
        {{ end }}
        <header>
            <h1 class="text-start">
                {{.Document.Title}}
            </h1>

            {{if .Document.Authors}}
                <h2>
                    {{join $document.Authors ", "}}
                </h2>
            {{else}}
                <h2>{{t $lang "Unknown author"}}</h2>
            {{end}}
        </header>
    </div>
    <div class="col-12 col-md-4 mt-3 pe-3">
        <div class="mb-3">
            {{template "partials/cover" dict "Lang" .Lang "Document" .Document "Session" .Session "DisableCoverMainLink" true}}
        </div>
        {{template "partials/actions" dict "Lang" $lang "Document" .Document "Session" $session "EmailSendingConfigured" .EmailSendingConfigured "EmailFrom" $emailFrom}}

        <dl class="row text-muted mt-3">
            {{if and $session $session.ShowFileName}}
                <dt class="col-5">{{t $lang "File name"}}</dt>
                <dd class="col-7 text-end"><small><i>{{$document.ID}}</i></small></dd>
            {{end}}

            {{if not (eq .Document.Publication.Date 0)}}
                <dt class="col-8"><i class="bi bi-calendar3 me-2"></i>{{t $lang "Year"}}</dt>
                <dd class="col-4 text-end"><time>{{.Document.Publication.Date.Year}}</time>
            </dd>
            {{end}}
            {{ if gt .Document.Words 0.0 }}
                <dt class="col-8"><i class="bi bi-stopwatch me-2"></i>{{t $lang "Estimated reading time"}}</dt>
                <dd class="col-4 text-end"><time>{{.Document.ReadingTime .WordsPerMinute}}</time></dd>
            {{ end }}
            {{ if .Document.Pages }}
                <dt class="col-8">{{t $lang "Pages" }}</dt>
                <dd class="col-4 text-end">{{.Document.Pages}}<dd>
            {{ end }}
        </dl>


        {{ if .Document.Subjects }}
        <ul class="list-inline">
            {{range $i, $subject := .Document.Subjects}}
            {{$subjectTitle := t $lang "Search for more titles in %s" $subject}}
            <li class="list-inline-item"><a class="btn btn-secondary btn-sm mb-1 mr-1" href="/documents?search=SubjectsSlugs&colon;{{index $document.SubjectsSlugs $i}}"
                title={{$subjectTitle}}>{{$subject}}</a></li>
            {{end}}
        </ul>
        {{ end }}
    </div>
    <div class="col-12 col-md-8 ps-3">
        <div class="row">
            <div class="col-12 text-start">
                {{if .Document.Description}}
                <div class="mb-1 mt-3 lead">{{.Document.Description}}</div>
                {{else}}
                <div class="mb-1"><em>{{t $lang "No description available"}}</em></div>
                {{end}}
            </div>
        </div>


        {{if and (gt (len .Document.Authors) 0) (le (len .Document.Authors) 2) (ne (index .Document.Authors 0) "")}}
            <hr>
            {{range $i, $author := .Document.Authors}}
                <div class="row" hx-get="/authors/{{slugify $author}}/summary?style=clear" hx-trigger="load" hx-target="this">
                </div>
            {{end}}
        {{end}}

        {{ $length := len .SameSeries }} {{ if gt $length 0 }}
        <section class="row mt-5">
            <div class="col-9">
                <h3>{{t $lang "Other titles in collection \"%s\"" .Document.Series}}</h3>
            </div>
            <div class="col-3 text-end">
                <a  href="/series/{{.Document.SeriesSlug}}">
                        {{t $lang "See all" }}</a>
            </div>

            <div class="row pe-0 align-items-end">
                {{range $i, $doc := .SameSeries}}
                    <div class="col-6 col-lg-3 pe-0 mt-3">
                        {{template "partials/cover" dict "Lang" $lang "Document" $doc "Session" $session}}
                    </div>
                {{end}}
            </div>
        </section>
        {{end}}

        {{ $length := len .SameAuthors }} {{ if gt $length 0 }}
        <section class="row mt-5">
            <div class="col-9">
                <h3>
                    {{t $lang "Also by"}}
                    {{join $document.Authors ", "}}
                </h3>
            </div>
            <div class="col-3 text-end">
                {{if gt (len $document.Authors) 1}}
                <a  href='/documents?search=AuthorsSlugs&colon;{{join $document.AuthorsSlugs ","}}'>
                        {{t $lang "See all" }}</a>
                {{else}}
                <a  href='/authors/{{index $document.AuthorsSlugs 0}}'>
                    {{t $lang "See all" }}</a>
                {{end}}
            </div>

            <div class="row pe-0 align-items-end">
                {{range $i, $doc := .SameAuthors}}
                <div class="col-6 col-lg-3 pe-0 mt-3">
                    {{template "partials/cover" dict "Lang" $lang "Document" $doc "Session" $session}}
                </div>
                {{end}}
            </div>
        </section>
        {{end}}

        {{ $length := len .SameSubjects }} {{ if gt $length 0 }}
        <section class="row mt-5">
            <div class="col-9">
                <h3>{{t $lang "With similar subjects"}}</h3>
            </div>
            <div class="col-3 text-end">
                <a  href='/documents?search=SubjectsSlugs&colon;{{join $document.SubjectsSlugs ","}}'>
                        {{t $lang "See all" }}</a>
            </div>

            <div class="row pe-0 align-items-end">
                {{range $i, $doc := .SameSubjects}}
                <div class="col-6 col-lg-3 pe-0 mt-3">
                    {{template "partials/cover" dict "Lang" $lang "Document" $doc "Session" $session}}
                </div>
                {{end}}
            </div>
        </section>
        {{end}}
    </div>
</div>

<script type="module" src="/js/send-email.js"></script>
<script type="module" src="/js/highlight.js"></script>
<script type="module" src="/js/cover.js"></script>
<script type="module" src="/js/datetime.js"></script>
