<div class="container mt-5 text-start">
    {{if .Message}}
    <div class="row mt-5">
        <div class="alert alert-success" role="alert">
            {{t .Lang .Message}}
        </div>
    </div>
    {{end}}

    <form method="post" action="/{{.Lang}}/reset-password">
        <div class="mb-3">
            <label for="password" class="form-label">{{t .Lang "New password"}}</label>
            <input type="password" name="password"
                class='form-control {{if ne (index .Errors "password") ""}}is-invalid{{end}}' id="password"
                required="required" minlength="{{.MinPasswordLength}}">
            {{if ne (index .Errors "password") ""}}
            <div class="invalid-feedback">
                {{t .Lang .Errors.password}}
            </div>
            {{end}}
        </div>
        <div class="mb-3">
            <label for="confirm-password" class="form-label">{{t .Lang "Confirm new password"}}</label>
            <input type="password" name="confirm-password"
                class='form-control {{if ne (index .Errors "confirmpassword") ""}}is-invalid{{end}}'
                id="confirm-password" required="required" minlength="{{.MinPasswordLength}}">
            {{if ne (index .Errors "confirmpassword") ""}}
            <div class="invalid-feedback">
                {{t .Lang .Errors.confirmpassword}}
            </div>
            {{end}}
        </div>
        <input type="hidden" name="id" value="{{.Uuid}}">
        <button type="submit" class="btn btn-primary">{{t .Lang "Update"}}</button>
    </form>
</div>