<!doctype html>
<html lang="{{.Lang}}">
<body>
    <p>
        {{t .Lang "A reset password request for Coreander has been received. You can proceed by cliking in the following link or pasting it in your browser"}}: 
        <a href="{{.Protocol}}://{{.Hostname}}{{.Port}}/{{.Lang}}/reset-password?id={{.Uuid}}">{{.Protocol}}://{{.Hostname}}{{.Port}}/{{.Lang}}/reset-password?id={{.Uuid}}</a>
    </p>
    <p>{{t .Lang "If you didn't request this, you can safely disregard this email."}}</p>
</body>

