<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
        aria-expanded="false" data-bs-auto-close="outside">
        {{t .Lang "Actions"}}
    </button>
    <ul class="dropdown-menu shadow">
        <li><a href="{{.Lang}}/read/{{.BookID}}" class="dropdown-item"><img aria-hidden="true" src="/images/eye.svg" width="32" height="32">&nbsp;&nbsp;{{t .Lang "Read"}}</a></li>
        <li><a href="files/{{.BookID}}" class="dropdown-item"><img aria-hidden="true" src="/images/cloud-download.svg" width="32" height="32">&nbsp;&nbsp;{{t .Lang "Download"}}</a></li>
        <div class="dropdown-divider"></div>
        {{if not .EmailSendingConfigured}}
            <li class="dropdown-item disabled">{{t .Lang "Send to email unavailable, no email service configured"}}</li>
        {{else}}
            <li>
                <form method="post" action="send" onsubmit='send("{{.Index}}")' id="send-email-{{.Index}}">
                    <div class="p-3">
                        <label for="email" class="form-label">{{t .Lang
                            "Send to email"}}</label>
                        <input type="email" class="form-control" id="email" name="email"
                            placeholder="email@example.com" required="required">
                    </div>
                    <div class="p-3">
                        <p class="visually-hidden text-success fs-6" id="send-email-message-{{.Index}}"></p>
                        <input type="hidden" name="file" value="{{.BookID}}">
                        <button type="submit" class="btn btn-primary">
                            <img aria-hidden="true" style="color: white;" src="/images/envelope.svg" width="32" height="32">&nbsp;&nbsp;{{t .Lang "Send"}}</button>
                    </div>
                </form>
            </li>
        {{end}}
    </ul>
</div>
