<div class="mt-3 row ms-0">
    <div class="{{if .Author.DataSourceImage}}col-9{{end}} ps-0">
        <div class="d-flex align-items-baseline">
            <h3>{{.Author.Name}}</h3>
            {{if and (ne .Author.BirthName "") (not .Author.BirthNameIncludesName)}}
                <p class="opacity-50 ms-3 float-start">&nbsp;{{.Author.BirthName}}</p>
            {{end}}
        </div>
        {{if eq .Author.DataSourceID ""}}
            <p><i>{{t .Lang "Sorry, we don't have information about this author at the moment"}}</i></p>
        {{else if index .Author.Description .Lang}}
            <p class="capitalize lead">{{index .Author.Description .Lang}}</p>
        {{end}}
        {{if gt (len .Author.Pseudonyms) 0}}
            <p class="opacity-50">{{t .Lang "Alias"}}
                {{join .Author.Pseudonyms ", "}}
            </p>
        {{end}}

        {{if ne .Author.DataSourceID ""}}
        <dl>
            {{if ne .Author.DateOfBirth.Date 0}}
                <dt>{{t .Lang "Date of birth"}}</dt>
                <dd>
                    {{if .Author.DateOfBirth.IsPrecisionCentury}}
                        {{t .Lang "%d century" .Author.DateOfBirth.CenturyAbs}}
                        {{if lt .Author.DateOfBirth.Century 0}}
                            <abbr title='{{t .Lang "Before Christ"}}'>{{t .Lang "BC"}}</abbr>
                        {{end}}
                    {{else if (or .Author.DateOfBirth.IsPrecisionYear .Author.DateOfBirth.IsPrecisionDecade) }}
                        {{.Author.YearOfBirthAbs}}
                        {{if lt .Author.DateOfBirth.Year 0}}
                            <abbr title='{{t .Lang "Before Christ"}}'>{{t .Lang "BC"}}</abbr>
                        {{end}}
                    {{else}}
                        <time datetime='{{.Author.DateOfBirth.Date.FormatISO 6}}' class='locale'>{{.Author.DateOfBirth.FormatISO 6}}</time>
                        {{if lt .Author.DateOfBirth.Year 0}}
                            <abbr title='{{t .Lang "Before Christ"}}'>{{t .Lang "BC"}}</abbr>
                        {{end}}
                        {{if and (gt .Author.Age 0) (eq .Author.DateOfDeath.Date 0) }}
                            ({{t .Lang "%d years old" .Author.Age}})
                        {{end}}
                    {{end}}
                </dd>
            {{end}}

            {{if ne .Author.DateOfDeath.Date 0}}
                <dt>{{t .Lang "Date of death"}}</dt>
                <dd>
                    {{if .Author.DateOfDeath.IsPrecisionCentury}}
                        {{t .Lang "%d century" .Author.DateOfDeath.CenturyAbs}}
                        {{if lt .Author.DateOfDeath.Century 0}}
                            <abbr title='{{t .Lang "Before Christ"}}'>{{t .Lang "BC"}}</abbr>
                        {{end}}
                    {{else if .Author.DateOfDeath.IsPrecisionYear}}
                        {{.Author.YearOfDeathAbs}}
                        {{if lt .Author.DateOfDeath.Year 0}}
                            <abbr title='{{t .Lang "Before Christ"}}'>{{t .Lang "BC"}}</abbr>
                        {{end}}
                    {{else}}
                        <time datetime='{{.Author.DateOfDeath.Date.FormatISO 6}}' class='locale'>{{.Author.DateOfDeath.FormatISO 6}}</time>
                        {{if lt .Author.DateOfDeath.Year 0}}
                        <abbr title='{{t .Lang "Before Christ"}}'>{{t .Lang "BC"}}</abbr>
                        {{end}}
                        {{if gt .Author.Age 0}}
                            ({{t .Lang "%d years old" .Author.Age}})
                        {{end}}
                    {{end}}
                </dd>
            {{end}}
        </dl>
        <ul class="list-unstyled">
            {{if .Author.Website}}
                <li>
                    <i class="bi-globe-europe-africa me-2"></i>
                    <a href="{{.Author.Website}}">{{t .Lang "Website"}}</a>
                </li>
            {{end}}

            {{if index .Author.WikipediaLink .Lang}}
                <li>
                    <i class="bi-wikipedia me-2"></i>
                    <a href="{{index .Author.WikipediaLink .Lang}}">{{t .Lang "Go to Wikipedia entry"}}</a>
                </li>
            {{end}}
        </ul>
        {{end}}
    </div>
    {{if .Author.DataSourceImage}}
    <div class="col-3 d-flex align-items-start px-0">
        <div class="ratio ratio-1x1">
            <img src="/authors/{{.Author.Slug}}_{{.Author.DataSourceID}}.jpg" class="img-fluid object-fit-cover w-100 rounded-circle" alt="{{.Author.Name}}">
        </div>
    </div>
    {{end}}
</div>
{{if eq .Session.Role 2}}
    {{if not .Author.RetrievedOn.IsZero }}
        <div class="row">
            <div class="col-12">
                {{template "partials/author-update-form" dict "Lang" .Lang "Author" .Author "Style" "clear"}}
            </div>
        </div>
    {{end}}
{{end}}
