<p class="ms-3 opacity-75"><small>
    <i class="bi-person-fill-exclamation me-2"></i>
    <a class="link-light" data-bs-toggle="collapse" href="#update-author-form" aria-expanded="false">
        {{ t .Lang "Is not the right author or data is outdated?" }}
    </a>
</small>
</p>
<div class="collapse" id="update-author-form">
    <p class="ms-3 opacity-75"><small>{{ t .Lang "The Wikidata ID is a unique identifier for the author in the Wikidata database. If you know the correct ID, you can update it here." }}</small></p>
    <div class="row">
        <div class="col-12 col-lg-6">
            <form hx-put="/authors/{{.Author.Slug}}" class="ms-3">
                <div class="input-group input-group-sm">
                    <input class="form-control" type="text" name="sourceID" value="{{.Author.DataSourceID}}" maxlength="10" placeholder="Q42" pattern="^[Qq]\d+$">
                    <button type="submit" class="btn btn-dark">{{t .Lang "Update"}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
