<div class="carousel-item {{if eq .Index 0}}active{{end}}" data-bs-interval="10000">
    <div class="row">
        <div class="d-none {{if .ShowClasses}}d-md-block col-md-8{{end}} d-lg-block col-lg-8">
            {{ if ne .Document.Series "" }} {{$seriesTitle := t .Lang "Search for more titles belonging to %s" .Document.Series}}
                <p class="text-start text-muted text-uppercase mb-0">
                    <a href="/series/{{.Document.SeriesSlug}}" title={{$seriesTitle}}>{{.Document.Series}}{{ if ne .Document.SeriesIndex 0.0 }} {{.Document.SeriesIndex}}{{end}}</a>
                </p>
            {{end}}

            <h3 class="text-start">
                <a href="/documents/{{.Document.Slug}}">{{.Document.Title}}</a>
            </h3>

            {{if .Document.Authors}}
            <p class="fs-5 mb-0">
                {{range $i, $author := .Document.Authors}}
                {{$authorTitle := t $.Lang "Search for more titles by %s" $author}}
                <a href="/authors/{{index $.Document.AuthorsSlugs $i}}" title={{$authorTitle}}>{{$author}}</a>{{if notLast $.Document.Authors $i}}, {{end}}
                {{end}}
            </p>
            {{else}}
                <p class="fs-5 mb-0">{{t .Lang "Unknown author"}}</p>
            {{end}}
            {{if .Document.Illustrators}}
            <p class="fs-5">
                <span class="text-muted">{{t .Lang "Illustrations"}}:</span>
                {{range $i, $ill := .Document.Illustrators}}
                {{$illTitle := t $.Lang "Search for more titles by %s" $ill}}
                <a href="/authors/{{slugify $ill}}" title={{$illTitle}}>{{$ill}}</a>{{if notLast $.Document.Illustrators $i}}, {{end}}
                {{end}}
            </p>
            {{end}}
            <div class="mt-5 d-none {{if .ShowClasses}}d-md-block{{end}} d-lg-block">
                <div class="clamp">{{.Document.Description}}</div>
            </div>
        </div>
        <div class="col-12 {{if .ShowClasses}}col-md-4{{end}} col-lg-4">
            {{template "partials/cover" dict "Lang" .Lang "Document" .Document "Session" .Session "DisableActions" true "LinkToReader" .LinkToReader "Version" .Version}}
        </div>
    </div>
</div>

