<div class="carousel-item {{if eq .Index 0}}active{{end}}" data-bs-interval="10000">
    <div class="row">
        <div class="d-none {{if .UseConditionalClasses}}{{if eq .ReadingLength 0}}d-md-block col-md-8{{end}}{{else}}d-md-block col-md-8{{end}} d-lg-block col-lg-8">
            {{ if ne .Document.Series "" }} {{$seriesTitle := t .Lang "Search for more titles belonging to %s" .Document.Series}}
                <p class="text-start text-muted text-uppercase mb-0">
                    <a href="/series/{{.Document.SeriesSlug}}" title={{$seriesTitle}}>{{.Document.Series}}{{ if ne .Document.SeriesIndex 0.0 }} {{.Document.SeriesIndex}}{{end}}</a>
                </p>
            {{end}}

            <h4 class="text-start">
                <a href="/documents/{{.Document.Slug}}">{{.Document.Title}}</a>
            </h4>

            {{if .Document.Authors}}
            {{$lang := .Lang}}
            <h5>
                {{range $i, $author := .Document.Authors}}
                {{$authorTitle := t $lang "Search for more titles by %s" $author}}
                <a href="/authors/{{index $.Document.AuthorsSlugs $i}}" title={{$authorTitle}}>{{$author}}</a>{{if notLast $.Document.Authors $i}}, {{end}}
                {{end}}
            </h5>
            {{else}}
                <h5>{{t .Lang "Unknown author"}}</h5>
            {{end}}
            <div class="mt-5 d-none {{if .UseConditionalClasses}}{{if eq .ReadingLength 0}}d-md-block{{end}}{{else}}d-md-block{{end}} d-lg-block">
                <div class="clamp">{{.Document.Description}}</div>
            </div>
        </div>
        <div class="col-12 {{if .UseConditionalClasses}}{{if eq .ReadingLength 0}}col-md-4{{end}}{{else}}col-md-4{{end}} col-lg-4">
            {{template "partials/cover" dict "Lang" .Lang "Document" .Document "Session" .Session "DisableActions" true "LinkToReader" .LinkToReader "Version" .Version}}
        </div>
    </div>
</div>

