<a
    class="nav-link dropdown-toggle"
    id="bd-theme"
    href="#"
    role="button"
    aria-expanded="false"
    data-bs-toggle="dropdown"
    data-bs-display="static"
    aria-label='{{t .Lang "Toggle theme (light)"}}'>
    <i class="bi bi-sun-fill my-1 theme-icon-active" aria-hidden="true"></i>
</a>
<ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
    <li>
        <a href="#" class="dropdown-item nav-link active"
            data-bs-theme-value="light" aria-pressed="true">
            <i class="bi bi-sun-fill me-2" aria-hidden="true"></i>{{t .Lang "Light"}}
        </a>
    </li>
    <li>
        <a href="#" class="dropdown-item nav-link"
            data-bs-theme-value="dark" aria-pressed="false">
            <i class="bi bi-moon-stars-fill me-2" aria-hidden="true"></i>{{t .Lang "Dark"}}
        </a>
    </li>
    <li>
        <a href="#" class="dropdown-item nav-link"
            data-bs-theme-value="auto" aria-pressed="false">
            <i class="bi bi-circle-half me-2" aria-hidden="true"></i>{{t .Lang "Auto"}}
        </a>
    </li>
</ul>
