{{if gt .Results.TotalHits 0}}
<div class="row mt-5 mb-2 pb-2 border-bottom d-flex">
    <div class="col-6 col-md-8 align-content-end">
        <div class="form-floating">
            <select class="form-select form-select-sm" id="year" name="year"
                hx-get="/completed" hx-include="[name='year']" hx-trigger="change" hx-target="#list" hx-swap="innerHTML" hx-indicator="#placeholder-indicator">
                {{range .YearStats}}
                    <option value="{{.Year}}" {{if eq .Year $.Year}}selected{{end}}>{{if eq .Year 0}}{{t $.Lang "All time"}}{{else}}{{.Year}}{{end}} ({{.DocumentCount}} {{t $.Lang "documents"}}{{if .ReadingTime}}, {{.ReadingTime}}{{end}})</option>
                {{end}}
            </select>
            <label for="year">{{t .Lang "Year"}}</label>
        </div>
    </div>
    <div class="col-6 col-md-4 text-end">
        {{template "partials/sort" dict "SortURL" .SortURL "SortBy" .SortBy "Lang" .Lang "AdditionalSortOptions" .AdditionalSortOptions}}
    </div>
</div>
{{end}}
