{{$version := .Version}}
<div id="placeholder-indicator" class="list-group-placeholder htmx-indicator placeholder-glow" aria-hidden="true">
    <div class="row pe-0">
        {{if .Results}}{{range .Results.Hits}}
        <div class="col-6 col-md-3 col-xl-2 pe-0 mt-3">
            <div class="mb-3">
                <div class="position-relative border border-2">
                    <img src="/images/generic.webp{{versionParam $version}}" class="cover img-fluid w-100" />
                </div>
            </div>
            <div class="d-grid">
                <span class="placeholder btn btn-sm btn-outline-secondary"></span>
            </div>
        </div>
        {{end}}{{end}}
    </div>
</div>
