<div class="position-relative actions">
    <a href="/documents/{{.Document.Slug}}" class="text-decoration-none">
        <picture>
            <source srcset="/documents/{{.Document.Slug}}/cover" alt='{{t .Lang "\"%s\" cover" .Document.Title}}' />
            <img src="/images/generic.jpg" data-src="" loading="lazy" class="border border-2 text-center mb-3 cover img-fluid card-img" alt='{{t .Lang "\"%s\" cover" .Document.Title}}' onerror="this.onerror = null; this.parentNode.children[0].srcset = this.src; this.parentNode.parentNode.children[1].classList.remove('d-none')">
        </picture>
        <div class="card-img-overlay card-body d-none">
            <h5 class="card-title text-center">{{.Document.Title}}</h5>
            {{if .Document.Authors}}
                <p class="card-text text-center">
                    {{join .Document.Authors ", "}}
                </p>
            {{else}}
                <p class="card-text text-center">{{t .Lang "Unknown author"}}</p>
            {{end}}
        </div>
    </a>
    {{if and (.Session) (ne .Session.Name "")}}
        {{template "partials/highlight-toggle" dict "Lang" .Lang "Document" .Document}}
    {{end}}
</div>
