<div class="position-relative mb-3 border border-2 cover-background">
    {{if not .DisableCoverMainLink}}<a href="/documents/{{.Document.Slug}}" class="text-decoration-none">
        <div class="zoomable">{{end}}
        <picture>
            <source srcset="/documents/{{.Document.Slug}}/cover" alt='{{t .Lang "\"%s\" cover" .Document.Title}}' />
            <img src="/images/generic.jpg" loading="lazy" class="cover img-fluid" alt='{{t .Lang "\"%s\" cover" .Document.Title}}' data-cover-title-id="cover-title-{{.Document.Slug}}" />
        </picture>
        {{if not .DisableCoverMainLink}}</div>{{end}}
        <div class="card-img-overlay card-body d-none" id="cover-title-{{.Document.Slug}}">
            <h5 class="card-title text-center text-truncate">{{.Document.Title}}</h5>
            {{if .Document.Authors}}
                <p class="card-text text-center text-truncate">
                    {{join .Document.Authors ", "}}
                </p>
            {{else}}
                <p class="card-text text-center">{{t .Lang "Unknown author"}}</p>
            {{end}}
        </div>
    {{if not .DisableCoverMainLink}}</a>{{end}}

    {{if and (.Session) (ne .Session.Name "")}}
        {{template "partials/highlight-toggle" dict "Lang" .Lang "Document" .Document}}
    {{end}}

    <div class="position-absolute bottom-0 end-0 me-2 mb-1 cursor-pointer w-10">
        <a href="/documents/{{.Document.Slug}}/read" class="icon-link" title='{{t .Lang "Read"}}'>
            <img src="/images/eye-solid.svg" class="img-fluid w-100" style="min-width: 1em"/>
        </a>
    </div>
</div>
