{{$lang := .Lang}}
{{$emailSendingConfigured := .EmailSendingConfigured}}
{{$session := .Session}}
{{$emailFrom := .EmailFrom}}
{{$wordsPerMinute := .WordsPerMinute}}

<div class="row mt-5 mb-2 d-flex">
    {{if eq .Results.TotalHits 0}}
    <div class="col-12 align-content-end">
        <p class="text-center">{{t .Lang "No documents found" }}</p>
    </div>
    {{else}}
    <div class="col-6 col-md-8 align-content-end">
        <p class="text-start">{{t .Lang "%d documents found" .Results.TotalHits }}</p>
    </div>
    <div class="col-6 col-md-4 text-end">
        {{template "partials/sort" dict "SortURL" .SortURL "SortBy" .SortBy "Lang" $lang "AdditionalSortOptions" .AdditionalSortOptions}}
    </div>
    {{end}}
</div>

{{if gt .Results.TotalHits 0}}
<ul class="list-group border-top rounded-0">
    {{range $i, $document := .Results.Hits}}
    <li class="list-group-item border border-0 px-0 mt-5">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3 mb-3">
                <div class="mb-3">
                    {{template "partials/cover" dict "Lang" $lang "Document" $document "Session" $session "Version" $.Version}}
                </div>
                {{template "partials/actions" dict "Lang" $lang "Document" $document "Session" $session "EmailSendingConfigured" $emailSendingConfigured "EmailFrom" $emailFrom}}
            </div>
            <div class="col-12 col-md-8 col-lg-9">
                <div class="row">
                    <div class="col-7">
                        {{ if ne $document.Series "" }} {{$seriesTitle := t $lang "Search for more titles belonging to %s"
                        $document.Series}}
                        <p class="text-start text-muted text-uppercase mb-0"><a
                                href="/series/{{$document.SeriesSlug}}"
                                title={{$seriesTitle}}>{{$document.Series}}{{ if ne $document.SeriesIndex 0.0 }} {{$document.SeriesIndex}}{{end}}</a></p>
                        {{ end }}
                        <h4 class="text-start">
                            <a href="/documents/{{$document.Slug}}">{{$document.Title}}</a>
                        </h4>
                    </div>
                    {{if and $session (eq $session.Role 2)}}
                    <div class="col-5 text-end">
                        <button href="#" data-bs-toggle="modal" data-bs-target="#delete-modal" data-url="/documents/{{$document.Slug}}" class="btn btn-sm btn-danger" title="{{$document.ID}}">
                            <i class="bi-trash3-fill"></i>
                        </button>
                    </div>
                    {{end}}
                </div>
                <div class="row">
                    <div class="col-12 text-start">
                        {{if $document.Authors}}
                        <h5>
                            {{range $i, $author := $document.Authors}}
                            {{$authorTitle := t $lang "Search for more titles by %s" $author}}
                            <a href="/authors/{{index $document.AuthorsSlugs $i}}" title={{$authorTitle}}>{{$author}}</a>{{if notLast $document.Authors $i}}, {{end}}
                            {{end}}
                        </h5>
                        {{else}}
                            <h5>{{t $lang "Unknown author"}}</h5>
                        {{end}}

                        <ul class="row text-muted list-unstyled mt-3">
                            {{if not (eq $document.Publication.Date 0)}}
                                <li><i class="bi bi-calendar3 me-2"></i><time>{{$document.Publication.Date.Year}}</time></li>
                            </dd>
                            {{end}}
                            {{ if gt $document.Words 0.0 }}
                                <li><i class="bi bi-stopwatch me-2"></i><time>{{$document.ReadingTime $wordsPerMinute}}</time></li>
                            {{ end }}
                            {{ if $document.Pages }}
                                <li><i class="bi bi-book me-2"></i>{{$document.Pages}}</li>
                            {{ end }}

                            {{if $session}}
                                <li>
                                    <div class="d-inline-block">
                                        <input class="form-check-input me-1" type="checkbox"
                                               id="complete-checkbox-{{$document.Slug}}"
                                               {{if $document.CompletedAt}}checked{{end}}
                                               title='{{if $document.CompletedAt}}{{t $lang "Mark as incomplete"}}{{else}}{{t $lang "Mark as complete"}}{{end}}'
                                               data-complete-title='{{t $lang "Mark as complete"}}'
                                               data-incomplete-title='{{t $lang "Mark as incomplete"}}'
                                               data-completed-label='{{t $lang "Completed"}}'
                                               data-uncompleted-label='{{t $lang "Uncompleted"}}'
                                               data-slug="{{$document.Slug}}" />
                                        <label class="form-check-label" id="complete-label-{{$document.Slug}}" for="complete-checkbox-{{$document.Slug}}">
                                            {{if $document.CompletedAt}}{{t $lang "Completed"}}{{else}}{{t $lang "Uncompleted"}}{{end}}
                                        </label>
                                        <span id="completion-date-dd-{{$document.Slug}}">
                                            {{ if $document.CompletedAt }}
                                                <input type="date" class="border-0 border-bottom text-muted bg-transparent p-0 ms-1"
                                                    id="completion-date-{{$document.Slug}}"
                                                    value="{{$document.CompletedAt.Format "2006-01-02"}}"
                                                    data-slug="{{$document.Slug}}"
                                                    data-original-date="{{$document.CompletedAt.Format "2006-01-02"}}"
                                                    title='{{t $lang "Edit completion date"}}'  />
                                            {{ end }}
                                        </span>
                                    </div>
                                </li>
                            {{end}}

                            {{if and $session $session.ShowFileName}}
                                <li><i class="bi bi-file-earmark-text me-2"></i><i>{{$document.ID}}</i></li>
                            {{end}}
                        </ul>

                        {{ if $document.Subjects }}
                        <ul class="list-inline mt-3">
                            {{range $i, $subject := $document.Subjects}}
                                {{$subjectTitle := t $lang "Search for more titles in %s" $subject}}
                                <li class="list-inline-item"><a class="btn btn-secondary btn-sm mb-1 mr-1" href="/documents?search=SubjectsSlugs&colon;{{index $document.SubjectsSlugs $i}}" title={{$subjectTitle}}>{{$subject}}</a></li>
                            {{end}}
                        </ul>
                        {{ end }}

                        {{if $document.Description}}
                        <div class="mb-1 mt-3 clamp">{{$document.Description}}</div>
                        {{else}}
                        <div class="mb-1 mt-3"><em>{{t $lang "No description available"}}</em></div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </li>
    {{end}}
</ul>
{{end}}

{{ $length := len .Paginator.Pages }} {{ if gt $length 1 }}
{{template "partials/pagination" .}}
{{end}}
