{{$lang := .Lang}}
<div class="row mt-5 mb-2 pb-2 border-bottom d-flex">
    {{if eq .Results.TotalHits 0}}
    <div class="col-12 align-content-end">
        <p class="text-center">{{t .Lang "No documents found" }}</p>
    </div>
    {{else}}
    <div class="col-6 col-md-8 align-content-end">
        <p class="text-start">{{t .Lang "%d documents found" .Results.TotalHits }}</p>
    </div>
    <div class="col-6 col-md-4 text-end">
        {{template "partials/sort" dict "SortURL" .SortURL "SortBy" .SortBy "Lang" $lang "AdditionalSortOptions" .AdditionalSortOptions}}
    </div>
    {{end}}
</div>
