{{$lang := .Lang}}
{{$emailSendingConfigured := .EmailSendingConfigured}}
{{$session := .Session}}
{{$emailFrom := .EmailFrom}}
{{$wordsPerMinute := .WordsPerMinute}}

<div class="list-group list-group-flush">
    {{if .Results}} {{range $i, $document := .Results.Hits}}
    <div class="list-group-item">
        <div class="row">
            <div class="card col-lg-2 col-md-3 col-sm-12 border border-0">
                <div class="position-relative">
                    <img src="/images/generic.jpg" data-src="/documents/{{$document.Slug}}/cover" loading="lazy" class="border border-2 text-center mb-3 cover img-fluid card-img" alt='{{t $lang "\"%s\" cover" $document.Title}}'>
                    <div class="card-img-overlay">
                        <h5 class="card-title text-center mx-1">{{$document.Title}}</h5>
                        <p class="card-text text-center mx-1">
                            {{if $document.Authors}}
                                {{join $document.Authors ", "}}
                            {{else}}
                                {{t $lang "Unknown author"}}
                            {{end}}
                        </p>
                    </div>
                    {{if and ($session) (ne $session.Name "")}}
                        <a href="/highlights/{{$document.Slug}}" class="icon-link dropdown-item highlight {{if $document.Highlighted}}visually-hidden{{end}}" data-method="POST" title='{{t $lang "Highlight"}}'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star position-absolute top-0 start-0" viewBox="0 0 16 16">
                                <path stroke-opacity="0.5" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                <use xlink:href="/highlights/{{$document.Slug}}"></use>
                            </svg>
                        </a>

                        <a href="/highlights/{{$document.Slug}}" class="icon-link dropdown-item dehighlight {{if not $document.Highlighted}}visually-hidden{{end}}" data-method="DELETE" title='{{t $lang "Remove from highlights"}}'>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill position-absolute top-0 start-0" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                <use xlink:href="/highlights/{{$document.Slug}}"></use>
                            </svg>
                        </a>
                    {{end}}
                </div>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-12">
                <div class="row">
                    <div class="col-7">
                        {{ if ne $document.Series "" }} {{$seriesTitle := t $lang "Search for more titles belonging to %s"
                        $document.Series}}
                        <p class="text-start text-muted text-uppercase mb-0"><a
                                href="/{{$lang}}/documents?search=SeriesEq&colon;&quot;{{$document.Series}}&quot;"
                                title={{$seriesTitle}}>{{$document.Series}}{{ if ne $document.SeriesIndex 0.0 }} {{$document.SeriesIndex}}{{end}}</a></p>
                        {{ end }}
                        <h4 class="text-start">
                            <a href="/{{$lang}}/documents/{{$document.Slug}}">{{$document.Title}}</a> <small class="small text-muted">{{$document.Year}}</small>
                        </h4>
                    </div>
                    <div class="col-5 text-end">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false" data-bs-auto-close="outside">
                                {{t $lang "Actions"}}
                            </button>
                            {{ template "partials/actions" dict "Lang" $lang "Document" $document "EmailSendingConfigured"
                            $emailSendingConfigured "Session" $session "EmailFrom" $emailFrom "OnDehighlight" "remove"}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-start">
                        {{if $document.Authors}}
                        <h5>
                            {{range $i, $author := $document.Authors}}
                            {{$authorTitle := t $lang "Search for more titles by %s" $author}}
                            <a href="/{{$lang}}/documents?search=AuthorsEq&colon;&quot;{{$author}}&quot;" title={{$authorTitle}}>{{$author}}</a>{{if notLast $document.Authors $i}}, {{end}}
                            {{end}}
                        </h5>
                        {{else}}
                            <h5>{{t $lang "Unknown author"}}</h5>
                        {{end}}

                        {{ if gt $document.Words 0.0 }}
                        <p class="text-muted"><em>{{t $lang "Estimated reading time"}}:
                                {{$document.ReadingTime $wordsPerMinute}}</em></p>
                        {{ end }}

                        {{ if $document.Pages }}
                        <p class="text-muted"><em>{{t $lang "%d pages" $document.Pages}}</em></p>
                        {{ end }}

                        {{ if $document.Subjects }}
                        <div>
                            {{range $i, $subject := $document.Subjects}}
                                {{$subjectTitle := t $lang "Search for more titles in %s" $subject}}
                                <a class="btn btn-secondary btn-sm mb-1 mr-1" href="/{{$lang}}/documents?search=SubjectsEq&colon;&quot;{{$subject}}&quot;" title={{$subjectTitle}}>{{$subject}}</a>
                            {{end}}
                        </div>
                        {{ end }}

                        {{if $document.Description}}
                        <div class="mb-1 mt-3 collapse" id="collapse-desc{{$i}}">{{$document.Description}}</div>
                        {{else}}
                        <div class="mb-1 mt-3"><em>{{t $lang "No description available"}}</em></div>
                        {{end}}

                        <a data-bs-toggle="collapse" class="collapse-control collapsed" href="#collapse-desc{{$i}}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{end}} {{end}}
</div>

{{template "partials/delete-modal" dict "Lang" $lang "Action" "/documents" "ModalHeader" "Delete document" "ModalBody" "Are you sure you want to delete this document?" "ModalErrorMessage" "There was an error deleting the document"}}

<script type="text/javascript" src="/js/send-email.js"></script>
<script type="text/javascript" src="/js/delete.js"></script>
<script type="text/javascript" src="/js/highlight.js"></script>
<script type="text/javascript" src="/js/cover-loader.js"></script>
