{{if and .Document.Highlight .Document.Highlight.SharedByID}}
    {{$sharedByName := ""}}
    {{if .Document.Highlight.SharedBy}}
        {{$sharedByName = .Document.Highlight.SharedBy.Name}}
    {{end}}
    {{if eq $sharedByName ""}}
        {{if .Document.Highlight.SharedBy}}
            {{$sharedByName = .Document.Highlight.SharedBy.Username}}
        {{end}}
    {{end}}
    {{if eq $sharedByName ""}}
        {{$sharedByName = t .Lang "Deleted user"}}
    {{end}}
    <div class="alert alert-primary mb-3" role="alert">
        <p class="text-start text-muted mb-1">{{t .Lang "<b>%s</b> shared <cite>%s</cite> with you" $sharedByName .Document.Title}}
            {{if .Document.Highlight.Comment}}
                <blockquote class="fst-italic fw-light">{{.Document.Highlight.Comment}}</blockquote>
            {{end}}
        </p>
    </div>
{{end}}
<div class="row">
    <div class="col-12 col-md-4 col-lg-3 mb-3">
        <div class="mb-3">
            {{template "partials/cover" dict "Lang" .Lang "Document" .Document "Session" .Session "Version" .Version}}
        </div>
        {{template "partials/actions" dict "Lang" .Lang "Document" .Document "Session" .Session "FQDN" .FQDN "Version" .Version "EmailSendingConfigured" .EmailSendingConfigured "DefaultAction" .DefaultAction "CanShare" .CanShare "PreferredEpub" .PreferredEpub "ShareMaxRecipients" .ShareMaxRecipients "ShareCommentMaxSize" .ShareCommentMaxSize}}
    </div>
    <div class="col-12 col-md-8 col-lg-9">
        <div class="row">
            <div class="col-7">
                {{ if ne .Document.Series "" }} {{$seriesTitle := t .Lang "Search for more titles belonging to %s"
                .Document.Series}}
                <p class="text-start text-muted text-uppercase mb-0"><a
                        href="/series/{{.Document.SeriesSlug}}"
                        title={{$seriesTitle}}>{{.Document.Series}}{{ if ne .Document.SeriesIndex 0.0 }} {{.Document.SeriesIndex}}{{end}}</a></p>
                {{ end }}
                <h4 class="text-start">
                    <a href="/documents/{{.Document.Slug}}">{{.Document.Title}}</a>
                </h4>
            </div>
            {{if and .Session (eq .Session.Role 2)}}
            <div class="col-5 text-end">
                <button href="#" data-bs-toggle="modal" data-bs-target="#delete-modal" data-url="/documents/{{.Document.Slug}}" class="btn btn-sm btn-danger" title="{{.Document.ID}}">
                    <i class="bi-trash3-fill"></i>
                </button>
            </div>
            {{end}}
        </div>
        <div class="row">
            <div class="col-12 text-start">
                {{if .Document.Authors}}
                <h5>
                    {{range $i, $author := .Document.Authors}}
                    {{$authorTitle := t $.Lang "Search for more titles by %s" $author}}
                    <a href="/authors/{{index $.Document.AuthorsSlugs $i}}" title={{$authorTitle}}>{{$author}}</a>{{if notLast $.Document.Authors $i}}, {{end}}
                    {{end}}
                </h5>
                {{else}}
                    <h5>{{t .Lang "Unknown author"}}</h5>
                {{end}}

                <ul class="row text-muted list-unstyled mt-3">
                    {{if not (eq .Document.Publication.Date 0)}}
                        <li><i class="bi bi-calendar3 me-2"></i><time>{{.Document.Publication.Date.Year}}</time></li>
                    </dd>
                    {{end}}
                    {{ if gt .Document.Words 0.0 }}
                        <li><i class="bi bi-stopwatch me-2"></i><time>{{.Document.ReadingTime .WordsPerMinute}}</time></li>
                    {{ end }}
                    {{ if .Document.Pages }}
                        <li><i class="bi bi-book me-2"></i>{{.Document.Pages}}</li>
                    {{ end }}
                    {{ if and .IllustratedMinAmount (ge .Document.Illustrations .IllustratedMinAmount) }}
                        <li><i class="bi bi-images me-2"></i>{{t .Lang "Illustrated"}}</li>
                    {{ end }}

                    {{if .Session}}
                        <li>
                            <div class="d-inline-block">
                                <input class="form-check-input me-1" type="checkbox"
                                       id="complete-checkbox-{{.Document.Slug}}"
                                       {{if .Document.CompletedOn}}checked{{end}}
                                       title='{{if .Document.CompletedOn}}{{t .Lang "Mark as incomplete"}}{{else}}{{t .Lang "Mark as complete"}}{{end}}'
                                       data-complete-title='{{t .Lang "Mark as complete"}}'
                                       data-incomplete-title='{{t .Lang "Mark as incomplete"}}'
                                       data-completed-label='{{t .Lang "Completed"}}'
                                       data-uncompleted-label='{{t .Lang "Uncompleted"}}'
                                       data-slug="{{.Document.Slug}}" />
                                <label class="form-check-label" id="complete-label-{{.Document.Slug}}" for="complete-checkbox-{{.Document.Slug}}">
                                    {{if .Document.CompletedOn}}{{t .Lang "Completed"}}{{else}}{{t .Lang "Uncompleted"}}{{end}}
                                </label>
                                <span id="completion-date-{{.Document.Slug}}">
                                    <input type="date" class="border-0 border-bottom text-muted bg-transparent p-0 ms-1{{if not .Document.CompletedOn}} d-none{{end}}"
                                        value="{{if .Document.CompletedOn}}{{.Document.CompletedOn.Format "2006-01-02"}}{{end}}"
                                        data-slug="{{.Document.Slug}}"
                                        data-original-date="{{if .Document.CompletedOn}}{{.Document.CompletedOn.Format "2006-01-02"}}{{end}}"
                                        title='{{t .Lang "Edit completion date"}}'
                                        {{if not .Document.CompletedOn}}disabled{{end}} />
                                </span>
                            </div>
                        </li>
                    {{end}}

                    {{if and .Session .Session.ShowFileName}}
                        <li><i class="bi bi-file-earmark-text me-2"></i><i>{{.Document.ID}}</i></li>
                    {{end}}
                </ul>

                {{ if .Document.Subjects }}
                <ul class="list-inline mt-3">
                    {{range $i, $subject := .Document.Subjects}}
                        {{$subjectTitle := t $.Lang "Search for more titles in %s" $subject}}
                        <li class="list-inline-item"><a class="btn btn-secondary btn-sm mb-1 mr-1" href="/documents?subjects={{urlquery $subject}}" title={{$subjectTitle}}>{{$subject}}</a></li>
                    {{end}}
                </ul>
                {{ end }}

                {{if .Document.Description}}
                <div class="mb-1 mt-3 clamp">{{.Document.Description}}</div>
                {{else}}
                <div class="mb-1 mt-3"><em>{{t .Lang "No description available"}}</em></div>
                {{end}}
            </div>
        </div>
    </div>
</div>
