{{$idPrefix := or .FilterIdPrefix ""}}
<div class="search-filters-panel p-3" id="document-search-filters{{if $idPrefix}}-{{$idPrefix}}{{end}}">
    {{if and $idPrefix (not .HideSearch)}}
    <fieldset class="mb-4">
        <legend class="fs-5"><i class="bi bi-search me-3"></i>{{t .Lang "Search"}}</legend>
        <div class="row">
            <div class="col-12 px-0">
                {{$keywords := ""}}
                {{if .SearchFields}}
                    {{$keywords = .SearchFields.Keywords}}
                {{end}}
                <label for="{{$idPrefix}}-search" class="visually-hidden">{{t .Lang "search"}}</label>
                <input type="search" name="search" id="{{$idPrefix}}-search" class="form-control" maxlength="255" value="{{$keywords}}" placeholder="{{t .Lang "Search"}}..." aria-label="{{t .Lang "Search"}}">
            </div>
        </div>
    </fieldset>
    {{end}}
    {{template "partials/document-metadata-filters" .}}
    {{template "partials/search-filters-actions" dict "Lang" .Lang "HomeSearch" .HomeSearch "ShowSearchButton" (or .HomeSearch (not .DocumentsSearchPage))}}
</div>

{{/* Include script and i18n from sidebar when on documents search page (so script runs after sidebar is in DOM); otherwise include from offcanvas. */}}
{{if and (or $idPrefix (not .DocumentsSearchPage)) (not .HomeSearch)}}
<script id="i18n" type="application/json">{"i18n":{
    "remove_subject": {{t .Lang "Remove subject: %s" "%s"}}
}}</script>

<script type="module" src="/js/document-search-filters.js{{versionParam .Version}}"></script>
{{end}}
