<form id="search-filters-form" action="{{.URLPath}}" method="get" role="search">
<div class="search-filters-panel border rounded-4 p-3" id="highlight-search-filters">
    <fieldset class="mb-4">
        <legend class="fs-5"><i class="bi bi-funnel me-3"></i>{{t .Lang "Show"}}</legend>
        <div class="row">
            <div class="col-12 px-0">
                {{$filter := or .HighlightsFilter "all"}}
                <label class="visually-hidden" for="highlight-filter">{{t .Lang "Show"}}</label>
                <select class="form-select" name="filter" id="highlight-filter">
                    <option value="all" {{if eq $filter "all"}}selected{{end}}>{{t .Lang "All documents (%d)" .HighlightsTotalAll}}</option>
                    <option value="highlights" {{if eq $filter "highlights"}}selected{{end}}>{{t .Lang "Only my highlights"}}</option>
                    <option value="shared" {{if eq $filter "shared"}}selected{{end}}>{{t .Lang "Only shared documents"}}</option>
                </select>
            </div>
        </div>
    </fieldset>
    {{if .AvailableLanguages}}
    <fieldset>
        <legend class="fs-5"><i class="bi bi-translate me-3"></i>{{t .Lang "Language"}}</legend>
        <div class="row">
            <div class="col-12 px-0">
                <label class="visually-hidden" for="highlight-language">{{t .Lang "Language"}}</label>
                <select class="form-select" name="language" id="highlight-language">
                    <option value="">{{t .Lang "All languages"}}</option>
                    {{range $lang := .AvailableLanguages}}
                    <option value="{{$lang}}" {{if eq $lang $.SearchFields.Language}}selected{{end}}>{{languageName $lang}}</option>
                    {{end}}
                </select>
            </div>
        </div>
    </fieldset>
    {{end}}
    <fieldset class="mt-4">
        <legend class="fs-5"><i class="bi bi-tags me-3"></i>{{t .Lang "Subjects"}}</legend>
        <div class="row">
            <div class="col-12 px-0">
                <input type="hidden" name="subjects" id="highlight-subjects-hidden" value="{{.SearchFields.Subjects}}">
                <input type="text" id="highlight-subjects" class="form-control" placeholder='{{t .Lang "Filter subjects..."}}' maxlength="255" list="highlight-subjects-list" autocomplete="off">
                <datalist id="highlight-subjects-list"></datalist>
                <div id="highlight-subjects-badges-container" class="d-flex flex-wrap gap-2 mt-2 d-none">
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="mt-4">
        <legend class="fs-5"><i class="bi bi-calendar3 me-3"></i>{{t .Lang "Publishing date"}}</legend>
        <div class="row">
            <div class="col-12 mb-3 px-0">
                {{template "partials/date-control" dict "Name" "pub-date-from" "Lang" .Lang "Date" .SearchFields.PubDateFrom "Label" "From" "IdPrefix" "highlight" }}
            </div>
            <div class="col-12 px-0">
                {{template "partials/date-control" dict "Name" "pub-date-to" "Lang" .Lang "Date" .SearchFields.PubDateTo "Label" "To" "IdPrefix" "highlight" }}
            </div>
        </div>
    </fieldset>
    {{if .HasReflowableDocs}}
    <fieldset class="mt-4">
        <legend class="fs-5"><i class="bi bi-stopwatch me-3"></i>{{t .Lang "Reading time"}} <span class="reading-time-help-popover d-inline-block" role="button" tabindex="0" aria-label='{{t .Lang "This filter only applies to EPUB documents"}}' data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="{{t .Lang "This filter only applies to EPUB documents"}}"><i class="bi bi-info-circle text-muted ms-1 small"></i></span></legend>
        <div class="row">
            <div class="col-12 px-0">
                <div class="input-group input-group-sm">
                    <div class="form-floating">
                        <input class="col-9 col-sm-10 form-control" type="number" value="{{if .SearchFields.EstReadTimeFrom}}{{.SearchFields.EstReadTimeFrom}}{{end}}" min="0" max="1000" step="1" name="est-read-time-from" id="highlight-est-read-time-from" placeholder='{{t .Lang "From"}}'>
                        <label class="form-label" for="highlight-est-read-time-from">{{t .Lang "From"}}</label>
                    </div>
                    <div class="form-floating">
                        <input class="col-9 col-sm-10 form-control" type="number" value="{{if .SearchFields.EstReadTimeTo}}{{.SearchFields.EstReadTimeTo}}{{end}}" min="0" max="1000" step="1" name="est-read-time-to" id="highlight-est-read-time-to" placeholder='{{t .Lang "To"}}'>
                        <label class="form-label" for="highlight-est-read-time-to">{{t .Lang "To"}}</label>
                    </div>
                    <span class="input-group-text rounded-end">{{t .Lang "Hours"}}</span>
                    <button type="button" class="input-group-text clear-range-control text-muted border-0 bg-transparent" aria-label='{{t .Lang "Clear reading time"}}' title='{{t .Lang "Clear reading time"}}'><i class="bi bi-x-lg"></i></button>
                </div>
            </div>
        </div>
    </fieldset>
    {{end}}
    {{if .HasFixedDocs}}
    <fieldset class="mt-4">
        <legend class="fs-5"><i class="bi bi-book me-3"></i>{{t .Lang "Pages"}} <span class="reading-time-help-popover d-inline-block" role="button" tabindex="0" aria-label='{{t .Lang "This filter only applies to PDF documents"}}' data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="{{t .Lang "This filter only applies to PDF documents"}}"><i class="bi bi-info-circle text-muted ms-1 small"></i></span></legend>
        <div class="row">
            <div class="col-12 px-0">
                <div class="input-group input-group-sm">
                    <div class="form-floating">
                        <input class="col-9 col-sm-10 form-control" type="number" value="{{if .SearchFields.PagesFrom}}{{.SearchFields.PagesFrom}}{{end}}" min="0" max="10000" step="1" name="pages-from" id="highlight-pages-from" placeholder='{{t .Lang "From"}}'>
                        <label class="form-label" for="highlight-pages-from">{{t .Lang "From"}}</label>
                    </div>
                    <div class="form-floating">
                        <input class="col-9 col-sm-10 form-control rounded-end" type="number" value="{{if .SearchFields.PagesTo}}{{.SearchFields.PagesTo}}{{end}}" min="0" max="10000" step="1" name="pages-to" id="highlight-pages-to" placeholder='{{t .Lang "To"}}'>
                        <label class="form-label" for="highlight-pages-to">{{t .Lang "To"}}</label>
                    </div>
                    <button type="button" class="input-group-text clear-range-control text-muted border-0 bg-transparent" aria-label='{{t .Lang "Clear pages"}}' title='{{t .Lang "Clear pages"}}'><i class="bi bi-x-lg"></i></button>
                </div>
            </div>
        </div>
    </fieldset>
    {{end}}
    <fieldset class="mt-4">
        <div class="row">
            <div class="col-12 px-0">
                <div class="form-check fs-5">
                    <input class="form-check-input" type="checkbox" name="illustrated-only" id="highlight-illustrated-only" value="on" {{if .SearchFields.IllustratedOnly}}checked{{end}}>
                    <label class="form-check-label big" for="highlight-illustrated-only">{{t .Lang "Only illustrated"}}</label>
                </div>
            </div>
        </div>
    </fieldset>
    {{template "partials/search-filters-actions" dict "Lang" .Lang "ShowSearchButton" false}}
</div>
</form>

<script id="i18n" type="application/json">{"i18n":{
    "remove_subject": {{t .Lang "Remove subject: %s" "%s"}}
}}</script>

<script type="module" src="/js/highlight-search-filters.js{{versionParam .Version}}"></script>
