{{$lang := .Lang}}
{{$highlight := .Highlight}}
{{$sharedByName := $highlight.SharedByName}}
{{if eq $sharedByName ""}}
    {{$sharedByName = $highlight.SharedByUsername}}
{{end}}
<div class="alert alert-primary mb-3" role="alert">
    <p class="text-start text-muted mb-1">{{t $lang "<b>%s</b> shared <cite>%s</cite> with you" $sharedByName .Document.Title}}
        {{if $highlight.Comment}}
            <blockquote class="fst-italic fw-light">{{$highlight.Comment}}</blockquote>
        {{end}}
    </p>
</div>
{{template "partials/docs-list-item" dict "Lang" .Lang "Document" .Document "Session" .Session "FQDN" .FQDN "Version" .Version "WordsPerMinute" .WordsPerMinute "EmailSendingConfigured" .EmailSendingConfigured "DefaultAction" .DefaultAction "CanShare" .CanShare "PreferredEpub" .PreferredEpub}}
