<div class="container mt-3">
    {{if .RemainingIndexingTime}}
    <div class="row text-start">
        <div class="alert alert-warning" role="alert">
            <p>{{t .Lang "Indexing in progress, search results may not be accurate."}}</p>
            <div class="progress" role="progressbar" aria-label='{{t .Lang "Indexing progress"}}' aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: {{.IndexingProgressPercentage}}%">{{.IndexingProgressPercentage}}%</div>
            </div>
            <p class="text-end"><small>{{t .Lang "Remaining time: %s minutes" .RemainingIndexingTime}}</small></p>
        </div>
    </div>
    {{end}}

    {{if .Error}}
        <div class="row text-start">
            <div class="alert alert-danger" role="alert">
                {{t .Lang .Error}}
            </div>
        </div>
    {{end}}

    {{if .Warning}}
    <div class="row text-start">
        <div class="alert alert-warning" role="alert">
            {{t .Lang .Warning}}
        </div>
    </div>
    {{end}}

    {{if .Success}}
        <div class="row text-start">
            <div class="alert alert-success" role="alert">
                {{t .Lang .Success}}
            </div>
        </div>
    {{end}}

    {{embed}}
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="live-toast-success" class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body"></div>
            <button type="button" class="btn-close me-2 m-auto btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    <div id="live-toast-danger" class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body"></div>
            <button type="button" class="btn-close me-2 m-auto btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
