<nav class="navbar navbar-expand-lg fixed-top {{if .HomeNavbar}}navbar-home{{end}}">
    <div class="container flex-nowrap">
        {{if not .HomeNavbar}}
        <span class="navbar-brand mb-0 h1">
            <a class="text-decoration-none" href="/">
                <img src="/images/coreander-logo-small.png{{versionParam .Version}}" alt="Logo" width="32" height="32" class="d-inline-block align-text-middle color-invertible">
            </a>
        </span>
        {{end}}
        {{if not .HomeNavbar}}
        <form action="/documents" class="d-flex justify-content-center flex-fill flex-shrink-1 pe-2" roles="search" style="min-width: 0;">
            <div class="input-group input-group-sm w-100">
                <label for="searchbox" class="visually-hidden">{{t .Lang "search"}}</label>
                <input type="search" name="search" id="searchbox" class="form-control rounded-start-1" maxlength="255" value="{{.SearchFields.Keywords}}" placeholder="{{t .Lang "Search"}}...">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="offcanvas" data-bs-target="#search-filters-offcanvas" aria-expanded="false" id="search-filters-offcanvas-toggle" data-bs-auto-close="outside" aria-expanded="false" aria-label='{{t .Lang "Advanced search"}}' title='{{t .Lang "Advanced search"}}'><i class="bi bi-sliders"></i></button>
            </div>
        </form>
        {{else}}
        <div class="flex-grow-1"></div>
        {{end}}
        <button class="navbar-toggler flex-shrink-0" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                    <img src="/images/coreander-header.png{{versionParam .Version}}" alt="Logo" class="w-50 color-invertible">
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasNavbar" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 text-start">
                    {{$lang := .Lang}}
                    {{$URLPath := .URLPath}}
                    {{$queryString := .QueryString}}
                    <li class="nav-item dropdown">
                        <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi-globe"></i>
                        </button>
                        <ul class="dropdown-menu shadow">
                        {{range $i, $currentLang := .SupportedLanguages}}
                            {{if eq $lang $currentLang}}
                                <li class="dropdown-item">{{language $currentLang}}</li>
                            {{else if eq $queryString ""}}
                                <li class="dropdown-item"><a href="{{$URLPath}}?l={{$currentLang}}">{{language $currentLang}}</a></li>
                            {{else}}
                                <li class="dropdown-item"><a href="{{$URLPath}}?{{$queryString}}&l={{$currentLang}}">{{language $currentLang}}</a></li>
                            {{end}}
                        {{end}}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        {{template "partials/color-mode-toggle" dict "Lang" $lang}}
                    </li>
                    <hr class="d-lg-none">
                    {{if and (.Session) (ne .Session.Name "")}}
                    {{if eq .Session.Role 2}}
                    <li class="nav-item dropdown">
                        <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi-gear-fill"></i>

                            {{t .Lang "Manage"}}
                        </button>
                        <ul class="dropdown-menu shadow">
                            <li class="dropdown-item">
                                <a href="/users" class="link-underline link-underline-opacity-0">
                                    <i class="bi-people-fill"></i>

                                    {{t .Lang "Users"}}
                                </a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/upload" class="link-underline link-underline-opacity-0">
                                    <i class="bi-cloud-upload-fill"></i>

                                    {{t .Lang "Upload document"}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    {{end}}
                    <li class="nav-item dropdown">
                        <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi-person-fill"></i>
                            {{.Session.Name}}
                        </button>
                        <ul class="dropdown-menu shadow">
                            <li class="dropdown-item">
                                <a href="/highlights" class="link-underline link-underline-opacity-0">
                                    <i class="bi-star-fill"></i>

                                    {{t .Lang "Highlights"}}
                                </a>
                            </li>
                            <li class="dropdown-item">
                                <a href="/users/{{.Session.Username}}" class="link-underline link-underline-opacity-0">
                                    <i class="bi-person-fill-gear"></i>

                                    {{t .Lang "Profile"}}
                                </a>
                            </li>
                            <hr>
                            <li class="dropdown-item">
                                <a href="/sessions" hx-delete="/sessions" class="link-underline link-underline-opacity-0">
                                    <i class="bi-box-arrow-right"></i>

                                    {{t .Lang "Logout"}}
                                </a>
                            </li>
                        </ul>
                    </li>
                    {{else if not .DisableLoginLink}}
                    <li class="nav-item">
                        <a class="nav-link" href="/sessions/new"><i class="bi bi-box-arrow-in-right pe-2"></i>{{t .Lang "Sign in"}}</a>
                    </li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
</nav>

{{if not .HomeNavbar}}
<div class="offcanvas offcanvas-start" tabindex="-1" id="search-filters-offcanvas" aria-labelledby="search-filters-offcanvas-label">
    <div class="offcanvas-header">
        <h5>{{t .Lang "Advanced search"}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form action="/documents" roles="search">
            <div class="row">
                <div class="col-12">
                    <input type="search" name="search" id="searchbox-offcanvas" class="form-control" maxlength="255" autofocus value="{{.SearchFields.Keywords}}" placeholder="{{t .Lang "Search"}}...">
                </div>
            </div>
            {{template "partials/search-filters" dict "Lang" .Lang "SearchFields" .SearchFields "Version" .Version "AvailableLanguages" .AvailableLanguages }}
        </form>
    </div>
</div>

<script type="module" src="/js/search-filters-offcanvas.js{{versionParam .Version}}"></script>
{{end}}
