<nav aria-label="..." class="mt-5 mb-5">
    <ul class="pagination justify-content-center flex-wrap">
        {{$disabled := ""}} {{$ariaDisabled := ""}} {{ if not .Paginator.PreviousLink }} {{$disabled =
        "disabled"}} {{$ariaDisabled = "aria-disabled=\"true\""}} {{end}}
        <li class="page-item {{$disabled}}">
            <a class="page-link" href="{{.Paginator.PreviousLink}}" tabindex="-1" {{$ariaDisabled}}>«</a>
        </li>
        {{range $number, $page := .Paginator.Pages}} {{$active := ""}} {{ if $page.IsCurrent }} {{$active =
        "active"}} {{end}}
        <li class="page-item {{$active}}"><a class="page-link" href="{{$page.Link}}">{{$number}}</a></li>
        {{end}} {{$disabled := ""}} {{$ariaDisabled := ""}} {{ if not .Paginator.NextLink }} {{$disabled =
        "disabled"}} {{$ariaDisabled = "aria-disabled=\"true\""}} {{end}}
        <li class="page-item {{$disabled}}">
            <a class="page-link" href="{{.Paginator.NextLink}}" tabindex="-1" {{$ariaDisabled}}>»</a>
        </li>
    </ul>
</nav>
