<div class="card border-0">
    <div class="card-img-overlay card-body">
        <h5 class="card-title text-center"><a href="/documents/{{.Document.Slug}}" class="stretched-link text-decoration-none">{{.Document.Title}}</a></h5>
        {{if .Document.Authors}}
            <p class="card-text text-center">
                {{join .Document.Authors ", "}}
            </p>
        {{else}}
            <p class="card-text text-center">{{t .Lang "Unknown author"}}</p>
        {{end}}
    </div>
    <div class="position-relative actions">
        <img src="/images/generic.jpg" data-src="/documents/{{.Document.Slug}}/cover" loading="lazy" class="border border-2 text-center mb-3 cover img-fluid card-img" alt='{{t .Lang "\"%s\" cover" .Document.Title}}'>
        {{if and (.Session) (ne .Session.Name "")}}
            {{template "partials/highlight-toggle" dict "Lang" .Lang "Document" .Document}}
        {{end}}
    </div>
<!--<img src="/images/generic.jpg" data-src="/documents/{{.Document.Slug}}/cover" loading="lazy" class="card-img-top border border-1 rounded-0 cover mb-3" alt='{{t .Lang "\"%s\" cover" .Document.Title}}'>-->
</div>
