{{$lang := .Lang}}

<div class="row mt-3">
    {{range $i, $doc := .Related}}
    <div class="col-6 col-md-3">
        <div class="card border-0">
            <img src="/images/generic.jpg" data-src="/cover/{{$doc.Slug}}" loading="lazy" class="card-img-top border border-1 border-dark rounded-0 cover" alt='{{t $lang "\"%s\" cover" $doc.Title}}'>
            <div class="card-body">
            <h5 class="card-title"><a href="/{{$lang}}/document/{{$doc.Slug}}">{{$doc.Title}}</a></h5>
            {{if $doc.Authors}}
            <p class="card-text">
                {{range $i, $author := $doc.Authors}}
                    {{$author}}{{if notLast $doc.Authors $i}}, {{end}}
                {{end}}
            </p>
            {{else}}
            <p class="card-text">{{t $lang "Unknown author"}}</p>
            {{end}}
            </div>
        </div>
    </div>
    {{end}}
</div>