{{$idPrefix := or .FilterIdPrefix ""}}
<div class="row card-body" id="search-filters{{if $idPrefix}}-{{$idPrefix}}{{end}}">
    {{if $idPrefix}}
    <fieldset class="mb-4">
        <legend class="fs-5"><i class="bi bi-search me-3"></i>{{t .Lang "Search"}}</legend>
        <div class="row">
            <div class="col-12">
                {{$keywords := ""}}
                {{if .SearchFields}}
                    {{$keywords = .SearchFields.Keywords}}
                {{end}}
                <label for="{{$idPrefix}}-search" class="visually-hidden">{{t .Lang "search"}}</label>
                <input type="search" name="search" id="{{$idPrefix}}-search" class="form-control" maxlength="255" value="{{$keywords}}" placeholder="{{t .Lang "Search"}}..." aria-label="{{t .Lang "Search"}}">
            </div>
        </div>
    </fieldset>
    {{end}}
    {{if .AvailableLanguages}}
    <fieldset>
        <legend class="fs-5"><i class="bi bi-translate me-3"></i>{{t .Lang "Language"}}</legend>
        <div class="row">
            <div class="col-12">
                {{$language := ""}}
                {{if .SearchFields}}
                    {{$language = .SearchFields.Language}}
                {{end}}
                    <select class="form-select" name="language" id="{{if $idPrefix}}{{$idPrefix}}-{{end}}language">
                        <option value="">{{t .Lang "All languages"}}</option>
                        {{range $lang := .AvailableLanguages}}
                        <option value="{{$lang}}" {{if eq $lang $language}}selected{{end}}>{{languageName $lang}}</option>
                        {{end}}
                    </select>
            </div>
        </div>
    </fieldset>
    {{end}}
    <fieldset class="mt-4">
        <legend class="fs-5"><i class="bi bi-tags me-3"></i>{{t .Lang "Subjects"}}</legend>
        <div class="row">
            <div class="col-12">
                {{$subject := ""}}
                {{if .SearchFields}}
                    {{$subject = .SearchFields.Subjects}}
                {{end}}
                <input type="hidden" name="subjects" id="{{if $idPrefix}}{{$idPrefix}}-{{end}}subjects-hidden" value="{{$subject}}">
                <input type="text" id="{{if $idPrefix}}{{$idPrefix}}-{{end}}subjects" class="form-control" placeholder='{{t .Lang "Filter subjects..."}}' maxlength="255" list="{{if $idPrefix}}{{$idPrefix}}-{{end}}subjects-list" autocomplete="off">
                <datalist id="{{if $idPrefix}}{{$idPrefix}}-{{end}}subjects-list"></datalist>
                <div id="{{if $idPrefix}}{{$idPrefix}}-{{end}}subjects-badges-container" class="d-flex flex-wrap gap-2 mt-2 d-none">
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="mt-4">
        <legend class="fs-5"><i class="bi bi-calendar3 me-3"></i>{{t .Lang "Publishing date"}}</legend>
        <div class="row">
            <div class="col-12 {{if .Responsive}}col-xl-6{{end}} mb-3">
                {{$pubDateFrom := ""}}
                {{if .SearchFields}}
                    {{$pubDateFrom = .SearchFields.PubDateFrom}}
                {{end}}
                {{template "partials/date-control" dict "Name" "pub-date-from" "Lang" .Lang "Date" $pubDateFrom "Label" "From" "IdPrefix" $idPrefix }}
            </div>
            <div class="col-12 {{if .Responsive}}col-xl-6{{end}}">
                {{$pubDateTo := ""}}
                {{if .SearchFields}}
                    {{$pubDateTo = .SearchFields.PubDateTo}}
                {{end}}
                {{template "partials/date-control" dict "Name" "pub-date-to" "Lang" .Lang "Date" $pubDateTo "Label" "To" "IdPrefix" $idPrefix }}
            </div>
        </div>
    </fieldset>
    <fieldset class="mt-4">
        <legend class="fs-5"><i class="bi bi-stopwatch me-3"></i>{{t .Lang "Estimated reading time"}}</legend>
        <div class="row">
            <div class="col-12 {{if .Responsive}}col-xl-6{{end}} mb-3">
                {{$estReadTimeFrom := ""}}
                {{if .SearchFields}}
                    {{$estReadTimeFrom = .SearchFields.EstReadTimeFrom}}
                {{end}}
                <div class="row">
                    <div class="input-group input-group-sm">
                        <div class="form-floating">
                            <input class="col-9 col-sm-10 form-control" type="number" value="{{if $estReadTimeFrom}}{{$estReadTimeFrom}}{{end}}" min="0" max="1000" step="1" name="est-read-time-from" id="{{if $idPrefix}}{{$idPrefix}}-{{end}}est-read-time-from" placeholder='{{t .Lang "From"}}'>
                            <label class="form-label" for="{{if $idPrefix}}{{$idPrefix}}-{{end}}est-read-time-from">{{t .Lang "From"}}</label>
                        </div>
                        <span class="input-group-text">{{t .Lang "Hours"}}</span>
                    </div>
                </div>
            </div>

            <div class="col-12 {{if .Responsive}}col-xl-6{{end}}">
                {{$estReadTimeTo := ""}}
                {{if .SearchFields}}
                    {{$estReadTimeTo = .SearchFields.EstReadTimeTo}}
                {{end}}
                <div class="row">
                    <div class="input-group input-group-sm">
                        <div class="form-floating">
                            <input class="col-9 col-sm-10 form-control" type="number" value="{{if $estReadTimeTo}}{{$estReadTimeTo}}{{end}}" min="0" max="1000" step="1" name="est-read-time-to" id="{{if $idPrefix}}{{$idPrefix}}-{{end}}est-read-time-to" placeholder='{{t .Lang "To"}}'>
                            <label class="form-label" for="{{if $idPrefix}}{{$idPrefix}}-{{end}}est-read-time-to">{{t .Lang "To"}}</label>
                        </div>
                        <span class="input-group-text">{{t .Lang "Hours"}}</span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    {{if not .DocumentsSearchPage}}
    <div class="row mt-4 g-0 w-100 px-2">
        <div class="col-12">
            <button class="btn btn-primary w-100" type="submit">{{t .Lang "Search"}}</button>
        </div>
    </div>
    {{end}}
</div>

{{/* Include script and i18n from sidebar when on documents search page (so script runs after sidebar is in DOM); otherwise include from offcanvas. */}}
{{if or $idPrefix (not .DocumentsSearchPage)}}
<script id="i18n" type="application/json">{"i18n":{
    "remove_subject": {{t .Lang "Remove subject: %s" "%s"}}
}}</script>

<script type="module" src="/js/search-filters.js{{versionParam .Version}}"></script>
{{end}}
