<div class="row pb-3">
    <fieldset>
        <legend>{{t .Lang "Publishing date"}}</legend>
        <div class="row">
            <div class="col-12 col-xl-6">
                <label class="form-label">{{t .Lang "From"}}</label>
                {{$pubDateFrom := ""}}
                {{if .SearchFields}}
                    {{$pubDateFrom = .SearchFields.PubDateFrom}}
                {{end}}
                {{template "partials/date-control" dict "Name" "pub-date-from" "Lang" .Lang "Date" $pubDateFrom }}
            </div>
            <div class="col-12 col-xl-6">
                <label class="form-label">{{t .Lang "To"}}</label>
                {{$pubDateTo := ""}}
                {{if .SearchFields}}
                    {{$pubDateTo = .SearchFields.PubDateTo}}
                {{end}}
                {{template "partials/date-control" dict "Name" "pub-date-to" "Lang" .Lang "Date" $pubDateTo }}
            </div>
        </div>
    </fieldset>
</div>
<div class="row">
    <div class="col-12 text-end">
        <button class="btn btn-primary" type="submit">{{t .Lang "Search"}}</button>
    </div>
</div>


<script type="module" src="/js/search-filters.js"></script>
