{{$searchType := or .SearchType "documents"}}
<li class="nav-item" role="presentation">
    <button type="button" class="nav-link{{if ne $searchType "authors"}} active{{end}}" data-search-type-tab="documents">{{t .Lang "Documents"}}{{if .SearchPage}} (<span class="tab-count">{{.DocumentsTotalHits}}</span><span class="spinner-border spinner-border-sm tab-count-spinner" role="status" aria-hidden="true"></span>){{end}}</button>
</li>
<li class="nav-item" role="presentation">
    <button type="button" class="nav-link{{if eq $searchType "authors"}} active{{end}}" data-search-type-tab="authors">{{t .Lang "Authors"}}{{if .SearchPage}} (<span class="tab-count">{{.AuthorsTotalHits}}</span><span class="spinner-border spinner-border-sm tab-count-spinner" role="status" aria-hidden="true"></span>){{end}}</button>
</li>
