<div class="row pb-3 card-body" id="search-filters">
    {{if .AvailableLanguages}}
    <fieldset class="mt-5">
        <legend class="fs-5"><i class="bi bi-translate me-3"></i>{{t .Lang "Language"}}</legend>
        <div class="row">
            <div class="col-12 mb-3">
                {{$language := ""}}
                {{if .SearchFields}}
                    {{$language = .SearchFields.Language}}
                {{end}}
                    <select class="form-select" name="language" id="language">
                        <option value="">{{t .Lang "All languages"}}</option>
                        {{range $lang := .AvailableLanguages}}
                        <option value="{{$lang}}" {{if eq $lang $language}}selected{{end}}>{{languageName $lang}}</option>
                        {{end}}
                    </select>
            </div>
        </div>
    </fieldset>
    {{end}}
    <fieldset class="mt-5">
        <legend class="fs-5"><i class="bi bi-tags me-3"></i>{{t .Lang "Subjects"}}</legend>
        <div class="row">
            <div class="col-12 mb-3">
                {{$subject := ""}}
                {{if .SearchFields}}
                    {{$subject = .SearchFields.Subjects}}
                {{end}}
                <input type="hidden" name="subject" id="subject-hidden" value="{{$subject}}">
                <input type="text" id="subject" class="form-control" placeholder='{{t .Lang "Filter subjects..."}}' maxlength="255" list="subjects-list" autocomplete="off">
                <datalist id="subjects-list"></datalist>
                <div id="subject-badges-container" class="d-flex flex-wrap gap-2 mt-2 d-none">
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="mt-5">
        <legend class="fs-5"><i class="bi bi-calendar3 me-3"></i>{{t .Lang "Publishing date"}}</legend>
        <div class="row">
            <div class="col-12 {{if .Responsive}}col-xl-6{{end}} mb-3">
                {{$pubDateFrom := ""}}
                {{if .SearchFields}}
                    {{$pubDateFrom = .SearchFields.PubDateFrom}}
                {{end}}
                {{template "partials/date-control" dict "Name" "pub-date-from" "Lang" .Lang "Date" $pubDateFrom "Label" "From" }}
            </div>
            <div class="col-12 {{if .Responsive}}col-xl-6{{end}}">
                {{$pubDateTo := ""}}
                {{if .SearchFields}}
                    {{$pubDateTo = .SearchFields.PubDateTo}}
                {{end}}
                {{template "partials/date-control" dict "Name" "pub-date-to" "Lang" .Lang "Date" $pubDateTo "Label" "To" }}
            </div>
        </div>
    </fieldset>
    <fieldset class="mt-5">
        <legend class="fs-5"><i class="bi bi-stopwatch me-3"></i>{{t .Lang "Estimated reading time"}}</legend>
        <div class="row">
            <div class="col-12 {{if .Responsive}}col-xl-6{{end}} mb-3">
                {{$estReadTimeFrom := ""}}
                {{if .SearchFields}}
                    {{$estReadTimeFrom = .SearchFields.EstReadTimeFrom}}
                {{end}}
                <div class="row">
                    <div class="input-group input-group-sm">
                        <div class="form-floating">
                            <input class="col-9 col-sm-10 form-control" type="number" value="{{if $estReadTimeFrom}}{{$estReadTimeFrom}}{{end}}" min="0" max="1000" step="1" name="est-read-time-from" id="est-read-time-from" placeholder='{{t .Lang "From"}}'>
                            <label class="form-label" for="est-read-time-from">{{t .Lang "From"}}</label>
                        </div>
                        <span class="input-group-text">{{t .Lang "Hours"}}</span>
                    </div>
                </div>
            </div>

            <div class="col-12 {{if .Responsive}}col-xl-6{{end}}">
                {{$estReadTimeTo := ""}}
                {{if .SearchFields}}
                    {{$estReadTimeTo = .SearchFields.EstReadTimeTo}}
                {{end}}
                <div class="row">
                    <div class="input-group input-group-sm">
                        <div class="form-floating">
                            <input class="col-9 col-sm-10 form-control" type="number" value="{{if $estReadTimeTo}}{{$estReadTimeTo}}{{end}}" min="0" max="1000" step="1" name="est-read-time-to" id="est-read-time-to" placeholder='{{t .Lang "To"}}'>
                            <label class="form-label" for="est-read-time-to">{{t .Lang "To"}}</label>
                        </div>
                        <span class="input-group-text">{{t .Lang "Hours"}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-end">
                <div class="d-grid d-block">
                    <button class="btn btn-primary" type="submit">{{t .Lang "Search"}}</button>
                </div>
            </div>
        </div>
    </fieldset>
</div>


<script type="module" src="/js/search-filters.js{{versionParam .Version}}"></script>
