<div class="mb-3">
    <label for="name" class="form-label">{{t .Lang "Name"}}</label>
    <input type="text" name="name" class="form-control" id="name" required="required" value="{{.User.Name}}">
</div>
<div class="mb-3">
    <label for="email" class="form-label">{{t .Lang "Email"}}</label>
    <input type="email" name="email" class="form-control" id="email" required="required" value="{{.User.Email}}">
</div>
<div class="mb-3">
    <label for="password" class="form-label">{{t .Lang "Password"}}</label>
    <input type="password" name="password" class="form-control" id="password" required="required">
</div>
<div class="mb-3">
    <label for="confirm-password" class="form-label">{{t .Lang "Confirm password"}}</label>
    <input type="password" name="confirm-password" class="form-control" id="confirm-password" required="required">
</div>