html,
body {
    height: 100%;
}

body {
    align-items: center;
    padding-bottom: 40px;
}

main {
    padding-top: 40px;
    width: 100%;
    padding: 15px;
}

main .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
}

main .form-control:focus {
    z-index: 2;
}

.small {
    font-size: 0.65em;
}

a.collapse-control {
    text-decoration: none;
}

a.collapse-control:not(.collapsed):after {
    content: '▲';
}

a.collapse-control.collapsed:after {
    content: '▼';
}

.collapse:not(.show) {
    display: block;
    /* height = lineheight * no of lines to display */
    height: 7.5em;
    overflow: hidden;
}

.collapsing {
    height: 7.5em;
}

.nav-item .bi {
    width: 1em;
    height: 1em;
}

:root, [data-bs-theme=light] {
    --bs-link-color-rgb: 0, 0, 0;
    --bs-link-hover-color-rgb: 0, 0, 0;
    .pagination {
        --bs-pagination-active-bg: #000000;
        --bs-pagination-active-border-color: #000000;
        --bs-pagination-color: #000000;
    }
    .navbar {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    }
    .navbar-home {
        background-color: white !important;
    }
}

[data-bs-theme=dark] {
    color-scheme: dark;
    --bs-link-color: white;
    --bs-link-hover-color: white;
    --bs-link-color-rgb: 255, 255, 255;
    --bs-link-hover-color-rgb: 255, 255, 255;
    .pagination {
        --bs-pagination-active-bg: #ffffff;
        --bs-pagination-active-color: #000000;
        --bs-pagination-active-border-color: #ffffff;
        --bs-pagination-color: #ffffff;
    }
    .navbar {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    }
}

.card-img-overlay a, .card-img-overlay p, .card-img-overlay h2, .card-img-overlay h3, .card-img-overlay h4, .card-img-overlay h5 {
    color: rgba(255,255,255,0.8);
}

[data-bs-theme=dark] {
    .color-invertible {
      filter: invert(100%);
    }
  }

.cover-background {
    background-image: url("../images/generic.jpg");
    background-size: cover;
}

.cursor-pointer {
    cursor: pointer;
}

.w-10 {
    width: 10%;
}

.actions .dropdown-menu {
    white-space: nowrap;
}

.datetime::first-letter {
    text-transform: capitalize;
}

.zoomable {
    overflow: hidden;
}

.zoomable img {
    transition: all .3s ease;
}

.zoomable img:hover {
    transform: scale(1.1);
}
