html,
body {
    height: 100%;
}

body {
    align-items: center;
    padding-bottom: 40px;
    background-color: #fff;
    color: #000;
}

main {
    padding-top: 40px;
    width: 100%;
    padding: 15px;
}

main .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
}

main .form-control:focus {
    z-index: 2;
}

.small {
    font-size: 0.65em;
}

.list-group-item img {
    max-width: 200px;
}

@media screen and (max-width: 600px) {
    img {
        display: none;
    }
}

.list-group-item-action {
    text-align: start;
}

a,
a:hover {
    color: black;
}

.page-link {
    color: black;
}

.page-item.active .page-link {
    background-color: black;
    border-color: black;
}
